<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #jobFunctionAssetBrancheForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="jobFunctionAssetBranche.id">{{l("EditJobFunctionAssetBranche")}}</span>
                        <span *ngIf="!jobFunctionAssetBranche.id">{{l("CreateNewJobFunctionAssetBranche")}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                 

					<div class="form-group m-form__group">
                        <label for="JobFunctionAssetJobFunctionId">{{l("JobFunctionAsset")}}</label>
                        <div class="input-group">
                            <input class="form-control" id="JobFunctionAssetJobFunctionId" name="jobFunctionAssetJobFunctionId" [(ngModel)]="jobFunctionAssetJobFunctionId" type="text" disabled>     
                            <div class="input-group-append">
                                <button class="btn btn-primary blue" (click)="openSelectJobFunctionAssetModal()" type="button"><i class="fa fa-search"></i> {{l("Pick")}}</button>
                            </div> <div class="input-group-prepend">
                                <button class="btn btn-danger" type="button" (click)="setJobFunctionAssetIdNull()"><i class="fa fa-close"></i></button>
                            </div>
                        </div>
                    </div>
                    <input class="form-control" name="jobFunctionAssetBranche.jobFunctionAssetId" [(ngModel)]="jobFunctionAssetBranche.jobFunctionAssetId" type="text" required hidden>
		 
					<div class="form-group m-form__group">
                        <label for="BranchBranchName">{{l("Branch")}}</label>
                        <div class="input-group">
                            <input class="form-control" id="BranchBranchName" name="branchBranchName" [(ngModel)]="branchBranchName" type="text" disabled>     
                            <div class="input-group-append">
                                <button class="btn btn-primary blue" (click)="openSelectBranchModal()" type="button"><i class="fa fa-search"></i> {{l("Pick")}}</button>
                            </div> <div class="input-group-prepend">
                                <button class="btn btn-danger" type="button" (click)="setBranchIdNull()"><i class="fa fa-close"></i></button>
                            </div>
                        </div>
                    </div>
                    <input class="form-control" name="jobFunctionAssetBranche.branchId" [(ngModel)]="jobFunctionAssetBranche.branchId" type="text"  hidden>
		 


                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">{{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!jobFunctionAssetBrancheForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i> <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>
<jobFunctionAssetLookupTableModal #jobFunctionAssetLookupTableModal (modalSave)="getNewJobFunctionAssetId()"></jobFunctionAssetLookupTableModal>
		 <branchLookupTableModal #branchLookupTableModal (modalSave)="getNewBranchId()"></branchLookupTableModal>
		 
</div>