<div [@routerTransition]>
    <div class="m-subheader">
        <div class="d-flex align-items-center">
            <div class="mr-auto col-md-6">
                <h3 class="m-subheader__title m-subheader__title--separator">
                    <span>{{l("Conflicts")}}</span>
                </h3>
                <!-- <span class="m-section__sub">
                    {{l("ConflictsHeaderInfo")}}
                </span> -->
            </div>
            <div class="col-md-6 text-right">
                <button (click)="exportToExcel()" class="btn btn-outline-success"><i class="fa fa-file-excel-o"></i> {{l("ExportToExcel")}}</button>
                <button *ngIf="isGranted('Pages.Conflicts.Create')" (click)="createConflict()"
                        class="btn btn-primary blue">
                    <i class="fa fa-plus"></i> {{l("CreateNewConflict")}}
                </button>
            </div>
        </div>
    </div>
    <div class="m-content">
        <div class="m-portlet m-portlet--mobile">
            <div class="m-portlet__body">

                <form class="horizontal-form" autocomplete="off">
                    <div class="m-form m-form--label-align-right">
                        <div class="row align-items-center m--margin-bottom-10">
                            <div class="col-xl-12">
                                <div class="form-group m-form__group align-items-center">
                                    <div class="input-group">
                                        <input [(ngModel)]="filterText" name="filterText" autoFocus class="form-control m-input" [placeholder]="l('SearchWithThreeDot')" type="text">
                                        <span class="input-group-btn">
                                            <button (click)="getConflicts()" class="btn btn-primary" type="submit"><i class="flaticon-search-1"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row m--margin-bottom-10" [hidden]="!advancedFiltersAreShown">
                            <div class="col-md-12">
                                <div class="m-separator m-separator--dashed"></div>
                            </div>


                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="ConflictNameFilter">{{l("ConflictName")}}</label>
                                    <input type="text" class="form-control" id="ConflictNameFilter" name="conflictNameFilter" [(ngModel)]="conflictNameFilter">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="ConflictDescriptionFilter">{{l("ConflictDescription")}}</label>
                                    <input type="text" class="form-control" id="ConflictDescriptionFilter" name="conflictDescriptionFilter" [(ngModel)]="conflictDescriptionFilter">
                                </div>
                            </div>

                        </div>
                        <div class="row margin-bottom-10">
                            <div class="col-sm-12">
                                <span class="clickable-item text-muted" *ngIf="!advancedFiltersAreShown" (click)="advancedFiltersAreShown=!advancedFiltersAreShown"><i class="fa fa-angle-down"></i> {{l("ShowAdvancedFilters")}}</span>
                                <span class="clickable-item text-muted" *ngIf="advancedFiltersAreShown" (click)="advancedFiltersAreShown=!advancedFiltersAreShown"><i class="fa fa-angle-up"></i> {{l("HideAdvancedFilters")}}</span>
                            </div>
                        </div>
                    </div>
                </form>

                <div class="row align-items-center">
                    <!--<Primeng-Datatable-Start>-->
                    <div class="primeng-datatable-container"
                         [busyIf]="primengTableHelper.isLoading">
                        <p-table #dataTable
                                 (onLazyLoad)="getConflicts($event)"
                                 [value]="primengTableHelper.records"
                                 rows="{{primengTableHelper.defaultRecordsCountPerPage}}"
                                 [paginator]="false"
                                 [lazy]="true"
                                 [scrollable]="true"
                                 ScrollWidth="100%"
                                 [responsive]="primengTableHelper.isResponsive"
                                 [resizableColumns]="primengTableHelper.resizableColumns">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th style="width: 130px" [hidden]="!isGrantedAny('Pages.Conflicts.Edit', 'Pages.Conflicts.Delete')">{{l('Actions')}}</th>
                                    <th style="width: 150px" pSortableColumn="conflict.conflictName">
                                        {{l('ConflictName')}}
                                        <p-sortIcon field="conflict.conflictName"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="conflict.conflictDescription">
                                        {{l('ConflictDescription')}}
                                        <p-sortIcon field="conflict.conflictDescription"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="conflict.conflictDescription">
                                        Conflict Risk Level
                                        <p-sortIcon field="conflict.conflictDescription"></p-sortIcon>
                                    </th>

                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-record="$implicit">
                                <tr>
                                    <td style="width: 130px"
                                        [hidden]="!isGrantedAny('Pages.Conflicts.Edit', 'Pages.Conflicts.Delete')">
                                        <div class="btn-group dropdown" dropdown container="body">
                                            <button class="dropdown-toggle btn btn-sm btn-primary" dropdownToggle>
                                                <i class="fa fa-cog"></i><span class="caret"></span> {{l("Actions")}}
                                            </button>
                                            <ul class="dropdown-menu" *dropdownMenu>
                                                <li>
                                                    <a href="javascript:;"
                                                       (click)="viewConflictModal.show(record.conflict.id)">{{l('View')}}</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:;" *ngIf="permission.isGranted('Pages.Conflicts.Edit')"
                                                       (click)="createOrEditConflictModal.show(record.conflict.id)">{{l('Edit')}}</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:;" *ngIf="permission.isGranted('Pages.Conflicts.Delete')"
                                                       (click)="deleteConflict(record.conflict)">{{l('Delete')}}</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                    <td style="width:150px">
                                        <span class="ui-column-title"> {{l('ConflictName')}}</span>
                                        {{record.conflict.conflictName}}
                                    </td>
                                    <td style="width:150px">
                                        <span class="ui-column-title"> {{l('ConflictDescription')}}</span>
                                        {{record.conflict.conflictDescription}}
                                    </td>
                                    <td style="width:150px">
                                        <span class="ui-column-title"> {{l('ConflictDescription')}}</span>
                                        {{record.conflict.conflictRisk}}
                                    </td>

                                </tr>
                            </ng-template>
                        </p-table>
                        <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                            {{l('NoData')}}
                        </div>
                        <div class="primeng-paging-container">
                            <p-paginator rows="{{primengTableHelper.defaultRecordsCountPerPage}}"
                                         #paginator
                                         (onPageChange)="getConflicts($event)"
                                         [totalRecords]="primengTableHelper.totalRecordsCount"
                                         [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                            </p-paginator>
                            <span class="total-records-count">
                                {{l('TotalRecordsCount', primengTableHelper.totalRecordsCount)}}
                            </span>
                        </div>
                    </div>
                   
                </div>
            </div>
        </div>
    </div>

    <createOrEditConflictModal #createOrEditConflictModal (modalSave)="getConflicts()"></createOrEditConflictModal>
    <!--<createOrEditConflictModalAsset #createOrEditConflictModal (modalSave)="getConflicts()"></createOrEditConflictModalAsset>-->
    <viewConflictModal #viewConflictModal></viewConflictModal>

</div>
