<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #conflictForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="conflict.id">{{l("EditConflict")}}</span>
                        <span *ngIf="!conflict.id">{{l("CreateNewConflict")}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <label for="Conflict_ConflictName">{{l("ConflictName")}}</label>
                        <input type="text" id="Conflict_ConflictName" class="form-control" [(ngModel)]="conflict.conflictName" name="ConflictName" />
                    </div>

                    <div class="form-group">
                        <label for="Conflict_ConflictDescription">{{l("ConflictDescription")}}</label>
                        <textarea type="text" id="Conflict_ConflictDescription" class="form-control" [(ngModel)]="conflict.conflictDescription" name="ConflictDescription"></textarea>
                    </div>

                    <div class="form-group m-form__group">
                            <label for="RiskLevel_">Risk Level?</label>
                            <div class="">
                                <label><input name="RiskLevel" [(ngModel)]="RiskLevel" value="High" type="radio"> HIGH</label><br/>
                                <label><input name="RiskLevel" [(ngModel)]="RiskLevel" value="Medium" type="radio"> MEDIUM</label><br />
                                <label><input name="RiskLevel" [(ngModel)]="RiskLevel" value="Low" type="radio"> LOW</label>
                            </div>
                        </div>

                    <div class="form-group m-form__group">
                        <label for="AssetAssetName">Add Asset</label>
                        <div class="table-responsive col-md-12 border">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">Asset</th>
                                        <th scope="col">Asset Description</th>
                                        <th scope="col" class="pull-right"><button class="btn btn-outline-success btn-sm" (click)="openSelectAssetModalPersonal()" type="button"><i class="fa fa-plus"></i>Add</button></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of ApplicationApplicationName">
                                        <td scope="row">{{item.displayName}}</td>
                                        <td>{{item.assetDescription}}</td>
                                        <td class="pull-right"><button class="btn btn-danger btn-sm" type="button" (click)="removeApplicationNameId(item.id)"><i class="fa fa-trash"></i></button></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">{{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!conflictForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i> <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>
<assetLookupTableModal #assetLookupTableModal (modalSave)="getNewAssetId($event)"></assetLookupTableModal>
		 
</div>
