<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span>{{l("")}}</span>
                </h4>
                <button type="button" class="close" (click)="close()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="m-stack m-stack--hor m-stack--general m-stack--demo">
                    <div class="m-stack__item m-stack__item--center m-stack__item--middle">
                        <h6>{{l("ConflictName")}} :</h6>
                        {{conflict.conflictName}}
                    </div>
                    <div class="m-separator m-separator--dashed"></div>
                    <div class="m-stack__item m-stack__item--center m-stack__item--middle">
                        <h6>{{l("ConflictDescription")}} :</h6>
                        {{conflict.conflictDescription}}
                    </div>
                    <div class="m-separator m-separator--dashed"></div>
                    <div class="m-stack__item m-stack__item--center m-stack__item--middle">
                        <h6>Conflict Risk :</h6>
                        {{conflict.conflictRisk}}
                    </div>
                    <div class="m-separator m-separator--dashed"></div>

                    <div class="m-separator m-separator--dashed"></div>

                    <div class="form-group m-form__group">
                            <label for="AssetAssetName">Conflict Asset(s)</label>
                            <div class="table-responsive col-md-12 border">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">Asset</th>
                                            <th scope="col">Asset Description</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of ApplicationApplicationName">
                                            <td scope="row">{{item.displayName}}</td>
                                            <td>{{item.assetDescription}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                </div>

            </div>
            <div class="modal-footer">
                <button [disabled]="saving" type="button" class="btn btn-primary blue" (click)="close()">{{l("Close")}}</button>
            </div>
        </div>
    </div>

</div>
