<div [@routerTransition]>
    <div class="m-subheader">
        <div class="d-flex align-items-center">
            <div class="mr-auto col-md-6">
                <h3 class="m-subheader__title m-subheader__title--separator">
                    <span>{{ l("ApproveRequests") }}</span>
                </h3>
                <!-- <span class="m-section__sub">
                    {{ l("ApproveRequestsHeaderInfo") }}
                </span> -->
            </div>
            <!--<div class="col-md-6 text-right">
				<button (click)="exportToExcel()" class="btn btn-outline-success"><i class="fa fa-file-excel-o"></i> {{l("ExportToExcel")}}</button>
                <button *ngIf="isGranted('Pages.ApproveRequests.Create')" (click)="createApproveRequest()" 
			class="btn btn-primary blue"><i class="fa fa-plus"></i> {{l("CreateNewApproveRequest")}}</button>
            </div>-->
        </div>
    </div>
    <div class="m-content">
        <div class="m-portlet m-portlet--mobile">
            <div class="m-portlet__body">
                <form class="horizontal-form" autocomplete="off">
                    <div class="m-form m-form--label-align-right">
                        <div class="row align-items-center m--margin-bottom-10">
                            <div class="col-xl-12">
                                <div
                                    class="form-group m-form__group align-items-center"
                                >
                                    <div class="input-group">
                                        <input
                                            [(ngModel)]="filterText"
                                            name="filterText"
                                            autoFocus
                                            class="form-control m-input"
                                            [placeholder]="
                                                l('SearchWithThreeDot')
                                            "
                                            type="text"
                                        />
                                        <span class="input-group-btn">
                                            <button
                                                (click)="getApproveRequests()"
                                                class="btn btn-primary"
                                                type="submit"
                                            >
                                                <i
                                                    class="flaticon-search-1"
                                                ></i>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div
                            class="row m--margin-bottom-10"
                            [hidden]="!advancedFiltersAreShown"
                        >
                            <div class="col-md-12">
                                <div
                                    class="m-separator m-separator--dashed"
                                ></div>
                            </div>

                            <!--<div class="col-md-3">
								<div class="form-group">
									<label for="RequestTenantIdFilter">({{l("Request")}}) {{l("TenantId")}}</label>
									<input type="text" class="form-control" id="RequestTenantIdFilter" name="requestTenantIdFilter" [(ngModel)]="requestTenantIdFilter">
                                </div>
                            </div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="UserNameFilter">({{l("User")}}) {{l("Name")}}</label>
									<input type="text" class="form-control" id="UserNameFilter" name="userNameFilter" [(ngModel)]="userNameFilter">
                                </div>
                            </div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="UserName2Filter">({{l("User2")}}) {{l("Name")}}</label>
									<input type="text" class="form-control" id="UserName2Filter" name="userName2Filter" [(ngModel)]="userName2Filter">
                                </div>
                            </div>-->
                        </div>
                        <div class="row margin-bottom-10">
                            <!--<div class="col-sm-12">
                                <span class="clickable-item text-muted" *ngIf="!advancedFiltersAreShown" (click)="advancedFiltersAreShown=!advancedFiltersAreShown"><i class="fa fa-angle-down"></i> {{l("ShowAdvancedFilters")}}</span>
                                <span class="clickable-item text-muted" *ngIf="advancedFiltersAreShown" (click)="advancedFiltersAreShown=!advancedFiltersAreShown"><i class="fa fa-angle-up"></i> {{l("HideAdvancedFilters")}}</span>
                            </div>-->
                        </div>
                    </div>
                </form>

                <div class="row align-items-center">
                    <!--<Primeng-Datatable-Start>-->
                    <div
                        class="primeng-datatable-container"
                        [busyIf]="primengTableHelper.isLoading"
                    >
                        <p-table
                            #dataTable
                            (onLazyLoad)="getApproveRequests($event)"
                            [value]="primengTableHelper.records"
                            rows="{{
                                primengTableHelper.defaultRecordsCountPerPage
                            }}"
                            [paginator]="false"
                            [lazy]="true"
                            [scrollable]="true"
                            ScrollWidth="100%"
                            [responsive]="primengTableHelper.isResponsive"
                            [resizableColumns]="
                                primengTableHelper.resizableColumns
                            "
                        >
                            <ng-template pTemplate="header">
                                <tr>
                                    <th
                                        style="width: 130px"
                                        [hidden]="
                                            !isGrantedAny(
                                                'Pages.ApproveRequests.Edit',
                                                'Pages.ApproveRequests.Delete'
                                            )
                                        "
                                    >
                                        {{ l("Actions") }}
                                    </th>
                                    <th
                                        style="width: 150px"
                                        pSortableColumn="requestTenantId"
                                    >
                                        Request Type
                                        <p-sortIcon
                                            field="requestTypeId"
                                        ></p-sortIcon>
                                    </th>
                                    <th
                                        style="width: 150px"
                                        pSortableColumn="userName"
                                    >
                                        Requested By
                                        <p-sortIcon
                                            field="userName"
                                        ></p-sortIcon>
                                    </th>
                                    <th
                                        style="width: 150px"
                                        pSortableColumn="userName2"
                                    >
                                        Requested Date
                                        <p-sortIcon
                                            field="userName2"
                                        ></p-sortIcon>
                                    </th>
                                    <th
                                        style="width: 150px"
                                        pSortableColumn="userName2"
                                    >
                                        Requested Expiry
                                        <p-sortIcon
                                            field="userName2"
                                        ></p-sortIcon>
                                    </th>
                                    <th
                                        style="width: 150px"
                                        pSortableColumn="userName2"
                                    >
                                        Requested Message
                                        <p-sortIcon
                                            field="userName2"
                                        ></p-sortIcon>
                                    </th>
                                </tr>
                            </ng-template>
                            <ng-template
                                pTemplate="body"
                                let-record="$implicit"
                            >
                                <!-- prettier-ignore -->
                                <tr>
                                    <td
                                        style="width: 130px"
                                        [hidden]="!isGrantedAny('Pages.ApproveRequests.Edit', 'Pages.ApproveRequests.Delete')"
                                    >
                                        <div
                                            class="btn-group dropdown"
                                            dropdown
                                            container="body"
                                        >
                                            <button
                                                class="dropdown-toggle btn btn-sm btn-primary"
                                                dropdownToggle
                                            >
                                                <i class="fa fa-cog"></i
                                                ><span class="caret"></span>
                                                {{ l("Actions") }}
                                            </button>
                                            <ul class="dropdown-menu" *dropdownMenu>
                                                <li>
                                                    <a
                                                        href="javascript:;"
                                                        (click)="viewApproveRequestModal.show(record.req.id)"
                                                    >
                                                        {{ l("Review") }}
                                                    </a>
                                                </li>
                                                <!--<li>
                                                    <a href="javascript:;" (click)="ApproveRequest(record)">Approve</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:;" (click)="createApproveRequest(record.req.id)">Reject</a>
                                                </li>-->
                                            </ul>
                                        </div>
                                    </td>
                                    <td style="width:150px">
                                        <span class="ui-column-title">
                                            {{ l("TenantId") }}
                                        </span>
                                        {{ record.reqType.requestCode }}
                                    </td>
                                    <td style="width:150px">
                                        <span class="ui-column-title">
                                            {{ l("Name") }}
                                        </span>
                                        {{ record.requesterName }}
                                    </td>
                                    <td style="width:150px">
                                        <span class="ui-column-title">
                                            {{ l("Name") }}
                                        </span>
                                        <span *ngIf="record.req.initiationTime > lastExpiryDate">
                                            {{ record.req.initiationTime | momentFormat : "YYYY-MM-DD HH:mm:ss" }}
                                        </span>
                                        <span *ngIf="record.req.initiationTime < lastExpiryDate">
                                            <i>None</i>
                                        </span>
                                    </td>
                                    <td style="width:150px">
                                        <span class="ui-column-title">
                                            {{ l("Name") }}
                                        </span>
                                        <span *ngIf="record.req.expiryDate > lastExpiryDate">
                                            {{ record.req.expiryDate | momentFormat : "YYYY-MM-DD HH:mm:ss" }}
                                        </span>
                                        <span *ngIf="record.req.expiryDate < lastExpiryDate"> - </span>
                                    </td>
                                    <td style="width:150px">
                                        <span class="ui-column-title">
                                            {{ l("Name") }}
                                        </span >
                                        {{ record.req.requestDescription }}
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                        <div
                            class="primeng-no-data"
                            *ngIf="primengTableHelper.totalRecordsCount == 0"
                        >
                            {{ l("NoData") }}
                        </div>
                        <div class="primeng-paging-container">
                            <p-paginator
                                rows="{{primengTableHelper.defaultRecordsCountPerPage}}"
                                #paginator
                                (onPageChange)="getApproveRequests($event)"
                                [totalRecords]="primengTableHelper.totalRecordsCount"
                                [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage"
                            >
                            </p-paginator>
                            <span class="total-records-count">
                                {{ l("TotalRecordsCount", primengTableHelper.totalRecordsCount) }}
                            </span>
                        </div>
                    </div>
                    <!--<Primeng-Datatable-End>-->
                </div>
            </div>
        </div>
    </div>

    <createOrEditApproveRequestModal
        #createOrEditApproveRequestModal
        (modalSave)="getApproveRequests()"
    ></createOrEditApproveRequestModal>
    <viewApproveRequestModal
        #viewApproveRequestModal
        (modalSave)="getApproveRequests()"
    ></viewApproveRequestModal>
</div>
