<div
    bsModal
    #createOrEditModal="bs-modal"
    class="modal fade"
    tabindex="-1"
    role="dialog"
    aria-labelledby="createOrEditModal"
    aria-hidden="true"
    [config]="{ backdrop: 'static' }"
>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span>Request Details</span>
                </h4>
                <button
                    type="button"
                    class="close"
                    (click)="close()"
                    aria-label="Close"
                >
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="padding-top: 0px !important">
                <!-- <div
                    class="m-stack m-stack--hor m-stack--general m-stack--demo"
                > -->
                <div>
                    <div style="padding: 20px; padding-bottom: 0px !important">
                        <div class="m-form__group row">
                            <div class="col-sm-4 col-form-label">
                                Owner:
                            </div>
                            <div class="col-sm-8 col-form-label">
                                {{ requestDetails.requestOwnerName }}
                            </div>
                        </div>

                        <div class="m-form__group row">
                            <div class="col-sm-4 col-form-label">
                                Date:
                            </div>
                            <div class="col-sm-8 col-form-label">
                                {{
                                    requestDetails.initiationTime
                                        | momentFormat: "YYYY-MM-DD HH:mm:ss"
                                }}
                            </div>
                        </div>
                        <div class="m-form__group row">
                            <div class="col-sm-4 col-form-label">
                                Comment:
                            </div>
                            <div class="col-sm-8 col-form-label">
                                {{ requestDetails.requestDescription }}
                            </div>
                        </div>

                        <div
                            class="m-form__group row"
                            *ngIf="requestType.requestExpiry == true"
                        >
                            <div class="col-sm-4 col-form-label">
                                Expiry date:
                            </div>
                            <div class="col-sm-8 col-form-label">
                                {{
                                    requestDetails.expiryDate
                                        | momentFormat: "YYYY-MM-DD HH:mm:ss"
                                }}
                            </div>
                        </div>

                        <div class="m-form__group row">
                            <div class="col-sm-4 col-form-label">
                                Type:
                            </div>
                            <div class="col-sm-8 col-form-label">
                                <b>{{ requestType.requestCode }}</b> -
                                <i>{{ requestType.requestDescription }} </i>
                            </div>
                        </div>

                        <div
                            class="m-form__group row"
                            *ngIf="requestType.requestExpiry == true"
                        >
                            <div class="col-sm-4 col-form-label">
                                Does request expire?:
                            </div>
                            <div class="col-sm-8 col-form-label">
                                <span
                                    *ngIf="requestType.requestExpiry == false"
                                ></span>
                                <span
                                    *ngIf="requestType.requestExpiry == true"
                                ></span>
                            </div>
                        </div>
                    </div>
                    <div class="m-separator m-separator--dashed"></div>
                    <div class="form-group m-form__group">
                        <label for="AssetAssetName">Attached Assets</label>
                        <div class="">
                            <p-table
                                #dataTable
                                [value]="primengTableHelper.records"
                                [(selection)]="AssetListSelected"
                            >
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th scope="col">Asset</th>
                                        <th scope="col">Asset Description</th>
                                        <th scope="col">Conflicts</th>
                                        <th style="width:50px;">
                                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                                        </th>
                                    </tr>
                                </ng-template>
                                <ng-template
                                    pTemplate="body"
                                    let-record="$implicit"
                                    let-rowData
                                >
                                    <tr style="background-color:#ffffff">
                                        <td
                                            scope="row"
                                            style="background-color:#ffffff"
                                        >
                                            {{ record.displayName }}
                                        </td>
                                        <td style="background-color:#ffffff">
                                            {{ record.assetDescription }}
                                        </td>
                                        <td style="background-color:#ffffff">
                                            {{ record.conflictList }}
                                        </td>
                                        <td
                                            style="width:50px; background-color:#ffffff"
                                        >
                                            <p-tableCheckbox
                                                [value]="rowData"
                                            ></p-tableCheckbox>
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </div>
                    <div>
                        <div *ngIf="showConflicts == true">
                            <div class="m-separator m-separator--dashed"></div>
                            <span style="font-weight: bold; font-style: italic;">
                                By completing this request, the user will be in
                                violation of the following conflicts:
                            </span>
                            <br />
                            <table class="table table-condensed">
                                <thead>
                                    <tr>
                                        <th>Conflict</th>
                                        <th>Conflict Desc</th>
                                        <th>Conflict Risk</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of ConflictItems">
                                        <!-- prettier-ignore -->
                                        <td>
                                            <a
                                                href="javascript:;"
                                                (click)="viewConflictModal.show(item.id)" 
                                                style="text-decoration: underline; color: lightskyblue;"
                                            >
                                                {{ item.conflictname }}
                                            </a>
                                        </td>
                                        <td>{{ item.conflictdescription }}</td>
                                        <td>{{ item.conflictrisk }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button
                    [disabled]="saving"
                    type="button"
                    class="btn btn-primary blue"
                    (click)="approve()"
                >
                    Approve Selected
                </button>
                <button
                    [disabled]="saving"
                    type="button"
                    class="btn btn-danger"
                    (click)="reject()"
                >
                    Reject
                </button>
            </div>
        </div>
    </div>
    <viewConflictModal #viewConflictModal></viewConflictModal>
</div>
