<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #jobFunctionAssetForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="jobFunctionAsset.id">{{l("EditJobFunctionAsset")}}</span>
                        <span *ngIf="!jobFunctionAsset.id">{{l("CreateNewJobFunctionAsset")}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="form-group m-form__group">
                        <label for="JobFunctionJobName">{{l("JobFunction")}}</label>
                        <div class="input-group">
                            <input class="form-control" id="JobFunctionJobName" name="jobFunctionJobName" [(ngModel)]="jobFunctionJobName" type="text" disabled>
                            <!-- <div class="input-group-append">
                                <button class="btn btn-primary blue" (click)="openSelectJobFunctionModal()" type="button"><i class="fa fa-search" disabled></i> {{l("Pick")}}</button>
                            </div> <div class="input-group-prepend">
                                <button class="btn btn-danger" type="button" (click)="setJobFunctionIdNull()"><i class="fa fa-close"></i></button>
                            </div> -->
                        </div>
                    </div>
                    <input class="form-control" name="jobFunctionAsset.jobFunctionId" [(ngModel)]="jobFunctionAsset.jobFunctionId" type="text" hidden>

                    <div class="form-group m-form__group">
                        <label for="AssetAssetName">Add Asset</label>
                        <div class="table-responsive col-md-12 border">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">Asset</th>
                                        <th scope="col">Asset Description</th>
                                        <th scope="col" class="pull-right"><button class="btn btn-outline-success btn-sm" (click)="openSelectAssetModal()" type="button"><i class="fa fa-plus"></i>Add</button></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of AssetData">
                                        <td scope="row">{{item.displayName}}</td>
                                        <td>{{item.assetDescription}}</td>
                                        <td class="pull-right"><button class="btn btn-danger btn-sm" type="button" (click)="removeAssetId(item.id)"><i class="fa fa-trash"></i></button></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="form-group m-form__group">
                        <label for="JobFunctionJobName">Branches?</label>
                        <div class="">
                            <label><input name="Branches" [(ngModel)]="Branches" value="N" type="radio"> No Branch</label><br/>
                            <label><input name="Branches" [(ngModel)]="Branches" value="S" type="radio"> Specific Branches</label><br />
                            <label><input name="Branches" [(ngModel)]="Branches" value="A" type="radio"> All Branches</label>
                        </div>
                    </div>

                    <div *ngIf="Branches == 'S'">

                        <div class="form-group m-form__group">
                            <label for="AssetAssetName">Add Branch</label>
                            <div class="table-responsive col-md-12 border">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">Branch Code</th>
                                            <th scope="col">Branch Name</th>
                                            <th scope="col" class="pull-right"><button class="btn btn-outline-success btn-sm" (click)="openSelectBranchModal()" type="button"><i class="fa fa-plus"></i>Add</button></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of BranchData">
                                            <td>{{item.branchCode}}</td>
                                            <td scope="row">{{item.displayName}}</td>
                                            <td class="pull-right"><button class="btn btn-danger btn-sm" type="button" (click)="removeBranchId(item.id)"><i class="fa fa-trash"></i></button></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>



                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">{{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!jobFunctionAssetForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i> <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>
    <branchLookupTableModal2 #branchLookupTableModal (modalSave)="getNewBranchId($event)"></branchLookupTableModal2>
    <assetLookupTableModal #assetLookupTableModal (modalSave)="getNewAssetId($event)"></assetLookupTableModal>
    <jobFunctionLookupTableModal #jobFunctionLookupTableModal (modalSave)="getNewJobFunctionId()"></jobFunctionLookupTableModal>

</div>
