<div [@routerTransition]>
    <div class="m-subheader">
        <div class="d-flex align-items-center">
            <div class="mr-auto col-md-6">
                <h3 class="m-subheader__title m-subheader__title--separator">
                    <span>{{l("JobFunctionAssets")}}</span>
                </h3>
                <span class="m-section__sub">
                    {{l("JobFunctionAssetsHeaderInfo")}}
                </span>
            </div>
            <div class="col-md-6 text-right">
				<button (click)="exportToExcel()" class="btn btn-outline-success"><i class="fa fa-file-excel-o"></i> {{l("ExportToExcel")}}</button>
                <button *ngIf="isGranted('Pages.JobFunctionAssets.Create')" (click)="createJobFunctionAsset()" 
			class="btn btn-primary blue"><i class="fa fa-plus"></i> {{l("CreateNewJobFunctionAsset")}}</button>
            </div>
        </div>
    </div>
    <div class="m-content">
        <div class="m-portlet m-portlet--mobile">
            <div class="m-portlet__body">

				<form class="horizontal-form" autocomplete="off">
                    <div class="m-form m-form--label-align-right">
                        <div class="row align-items-center m--margin-bottom-10">
                            <div class="col-xl-12">
                                <div class="form-group m-form__group align-items-center">
                                    <div class="input-group">
                                        <input [(ngModel)]="filterText" name="filterText" autoFocus class="form-control m-input" [placeholder]="l('SearchWithThreeDot')" type="text">
                                        <span class="input-group-btn">
                                            <button (click)="getJobFunctionAssets()" class="btn btn-primary" type="submit"><i class="flaticon-search-1"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
						 <div class="row m--margin-bottom-10" [hidden]="!advancedFiltersAreShown">
						 	<div class="col-md-12">
						         <div class="m-separator m-separator--dashed"></div>
						     </div>


							<div class="col-md-3">
								<div class="form-group">
									<label for="AssetAssetNameFilter">({{l("Asset")}}) {{l("AssetName")}}</label>
									<input type="text" class="form-control" id="AssetAssetNameFilter" name="assetAssetNameFilter" [(ngModel)]="assetAssetNameFilter">
                                </div>
                            </div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="JobFunctionJobNameFilter">({{l("JobFunction")}}) {{l("JobName")}}</label>
									<input type="text" class="form-control" id="JobFunctionJobNameFilter" name="jobFunctionJobNameFilter" [(ngModel)]="jobFunctionJobNameFilter">
                                </div>
                            </div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="BranchBranchNameFilter">({{l("Branch")}}) {{l("BranchName")}}</label>
									<input type="text" class="form-control" id="BranchBranchNameFilter" name="branchBranchNameFilter" [(ngModel)]="branchBranchNameFilter">
                                </div>
                            </div>

                        </div>
                        <div class="row margin-bottom-10">
                            <div class="col-sm-12">
                                <span class="clickable-item text-muted" *ngIf="!advancedFiltersAreShown" (click)="advancedFiltersAreShown=!advancedFiltersAreShown"><i class="fa fa-angle-down"></i> {{l("ShowAdvancedFilters")}}</span>
                                <span class="clickable-item text-muted" *ngIf="advancedFiltersAreShown" (click)="advancedFiltersAreShown=!advancedFiltersAreShown"><i class="fa fa-angle-up"></i> {{l("HideAdvancedFilters")}}</span>
                            </div>
                        </div>
                    </div>
                </form>

                <div class="row align-items-center">
                    <!--<Primeng-Datatable-Start>-->
                    <div class="primeng-datatable-container"
                         [busyIf]="primengTableHelper.isLoading">
                        <p-table #dataTable
                                     (onLazyLoad)="getJobFunctionAssets($event)"
                                     [value]="primengTableHelper.records"
                                     rows="{{primengTableHelper.defaultRecordsCountPerPage}}"
                                     [paginator]="false"
                                     [lazy]="true"
                                     [scrollable]="true"
                                     ScrollWidth="100%"
                                     [responsive]="primengTableHelper.isResponsive"
                                     [resizableColumns]="primengTableHelper.resizableColumns">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th style="width: 130px" [hidden]="!isGrantedAny('Pages.JobFunctionAssets.Edit', 'Pages.JobFunctionAssets.Delete')">{{l('Actions')}}</th>
                                    <th style="width: 150px" pSortableColumn="jobFunctionJobName">
                                        Job Function
                                        <p-sortIcon field="jobFunctionJobName"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="assetAssetName">
                                        Asset(s)
                                        <p-sortIcon field="assetAssetName"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="branchBranchName">
                                        Branch(s)
                                        <p-sortIcon field="branchBranchName"></p-sortIcon>
                                    </th>
                                </tr>
                            </ng-template>                           
							<ng-template pTemplate="body" let-record="$implicit">
                                <tr>
                                    <td style="width: 130px"
                                        [hidden]="!isGrantedAny('Pages.JobFunctionAssets.Edit', 'Pages.JobFunctionAssets.Delete')">
                                       <div class="btn-group dropdown" dropdown container="body">
                                            <button class="dropdown-toggle btn btn-sm btn-primary" dropdownToggle>
                                                <i class="fa fa-cog"></i><span class="caret"></span> {{l("Actions")}}
                                            </button>
												<ul class="dropdown-menu"  *dropdownMenu>
												<li>
													<a href="javascript:;"
														(click)="viewJobFunctionAssetModal.show(record.id)">{{l('View')}}</a>
												</li>
												<li>
													<a href="javascript:;" *ngIf="permission.isGranted('Pages.JobFunctionAssets.Edit')"
														(click)="createOrEditJobFunctionAssetModal.show(record.id)">{{l('Edit')}}</a>
												</li>
												<li>
											        <a href="javascript:;" *ngIf="permission.isGranted('Pages.JobFunctionAssets.Delete')"
														(click)="deleteJobFunctionAsset(record.id)">{{l('Delete')}}</a>
												</li>
                                            </ul>
                                        </div>
                                    </td>
                                    <td style="width:150px">
                                        <span class="ui-column-title"> {{l('JobName')}}</span>
                                        {{record.jobFunction}}
									</td>
                                    <td style="width:150px">
                                        <span class="ui-column-title"> {{l('AssetName')}}</span>
                                        <span *ngIf="record.jbAssetsNum != 0"> {{record.jbAssetsNum}} Asset(s) Mapped</span>
                                        <span *ngIf="record.jbAssetsNum == 0"> No Asset Mapped</span>
                                    </td>
                                    <td style="width:150px">
												<span class="ui-column-title"> {{l('BranchName')}}</span>
                                                <span *ngIf="record.jbBranchesNum != 0"> {{record.jbBranchesNum}} Branch(es) Mapped</span>
                                                <span *ngIf="record.jbBranchesNum == 0"> No Branch Mapped</span>
											</td>

                                </tr>
                            </ng-template>
                        </p-table>
						<div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                            {{l('NoData')}}
                        </div>
                        <div class="primeng-paging-container">
                            <p-paginator rows="{{primengTableHelper.defaultRecordsCountPerPage}}"
                                         #paginator
                                         (onPageChange)="getJobFunctionAssets($event)"
                                         [totalRecords]="primengTableHelper.totalRecordsCount"
                                         [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                            </p-paginator>
                            <span class="total-records-count">
                                {{l('TotalRecordsCount', primengTableHelper.totalRecordsCount)}}
                            </span>
                        </div>
                    </div>
                    <!--<Primeng-Datatable-End>-->
                </div>
            </div>
        </div>
    </div>

    <createOrEditJobFunctionAssetModal #createOrEditJobFunctionAssetModal (modalSave)="getJobFunctionAssets()"></createOrEditJobFunctionAssetModal>
    <viewJobFunctionAssetModal #viewJobFunctionAssetModal></viewJobFunctionAssetModal>
    
</div>