<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span>{{l("")}}</span>
                </h4>
                <button type="button" class="close" (click)="close()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="m-stack m-stack--hor m-stack--general m-stack--demo">


                    <table class="table">
                            <thead>
                                <tr>
                                    <td><b>Job Assets</b></td>
                                    <td></td>
                                </tr>
                        </thead>

                        <tr>
                            <td>Job Function</td>
                            <td>{{JobName}}</td>
                        </tr>
                        <tr>
                            <td>Assets</td>
                            <td>
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th scope="col">Asset</th>
                                                <th scope="col">Asset Description</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let item of AssetData">
                                                <td scope="row">{{item.displayName}}</td>
                                                <td>{{item.assetDescription}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                            </td>
                        </tr>
                        <tr>
                            <td>Branches</td>
                            <td>{{SelectedBranches}}</td>
                        </tr>
                        <tr *ngIf="BData > 0">
                            <td></td>
                            <td><table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">Branch Code</th>
                                            <th scope="col">Branch Name</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of BranchData">
                                                <td scope="row">{{item.branchCode}}</td>
                                                <td>{{item.displayName}}</td>
                                        </tr>
                                    </tbody>
                                </table></td>
                        </tr>
                    </table>

                    

                </div>

            </div>
            <div class="modal-footer">
                <button [disabled]="saving" type="button" class="btn btn-primary blue" (click)="close()">{{l("Close")}}</button>
            </div>
        </div>
    </div>

</div>
