<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #assetPropertyForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="assetProperty.id">{{l("EditAssetProperty")}}</span>
                        <span *ngIf="!assetProperty.id">{{l("CreateNewAssetProperty")}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                 

					<div class="form-group m-form__group">
                        <label for="AssetAssetName">{{l("Asset")}}</label>
                        <div class="input-group">
                            <input class="form-control" id="AssetAssetName" name="assetAssetName" [(ngModel)]="assetAssetName" type="text" disabled>     
                            <div class="input-group-append">
                                <button class="btn btn-primary blue" (click)="openSelectAssetModal()" type="button"><i class="fa fa-search"></i> {{l("Pick")}}</button>
                            </div> <div class="input-group-prepend">
                                <button class="btn btn-danger" type="button" (click)="setAssetIdNull()"><i class="fa fa-close"></i></button>
                            </div>
                        </div>
                    </div>
                    <input class="form-control" name="assetProperty.assetId" [(ngModel)]="assetProperty.assetId" type="text"  hidden>
		 

								<div class="form-group">
									<label for="AssetProperty_PropertyOfAsset">{{l("PropertyOfAsset")}}</label>
									<input type="text" id="AssetProperty_PropertyOfAsset" class="form-control" [(ngModel)]="assetProperty.propertyOfAsset" name="PropertyOfAsset"    />
								</div>
					
								<div class="form-group">
									<label for="AssetProperty_PropertyValue">{{l("PropertyValue")}}</label>
									<input type="text" id="AssetProperty_PropertyValue" class="form-control" [(ngModel)]="assetProperty.propertyValue" name="PropertyValue"    />
								</div>
					

                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">{{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!assetPropertyForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i> <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>
<assetLookupTableModal #assetLookupTableModal (modalSave)="getNewAssetId()"></assetLookupTableModal>
		 
</div>