<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #requestEventForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="requestEvent.id">{{l("EditRequestEvent")}}</span>
                        <span *ngIf="!requestEvent.id">{{l("CreateNewRequestEvent")}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                 

					<div class="form-group m-form__group">
                        <label for="RequestTypeRequestCode">{{l("RequestType")}}</label>
                        <div class="input-group">
                            <input class="form-control" id="RequestTypeRequestCode" name="requestTypeRequestCode" [(ngModel)]="requestTypeRequestCode" type="text" disabled>     
                            <div class="input-group-append">
                                <button class="btn btn-primary blue" (click)="openSelectRequestTypeModal()" type="button"><i class="fa fa-search"></i> {{l("Pick")}}</button>
                            </div> <div class="input-group-prepend">
                                <button class="btn btn-danger" type="button" (click)="setRequestTypeIdNull()"><i class="fa fa-close"></i></button>
                            </div>
                        </div>
                    </div>
                    <input class="form-control" name="requestEvent.requestTypeId" [(ngModel)]="requestEvent.requestTypeId" type="text"  hidden>
		 
					<div class="form-group m-form__group">
                        <label for="RequestTenantId">{{l("Request")}}</label>
                        <div class="input-group">
                            <input class="form-control" id="RequestTenantId" name="requestTenantId" [(ngModel)]="requestTenantId" type="text" disabled>     
                            <div class="input-group-append">
                                <button class="btn btn-primary blue" (click)="openSelectRequestModal()" type="button"><i class="fa fa-search"></i> {{l("Pick")}}</button>
                            </div> <div class="input-group-prepend">
                                <button class="btn btn-danger" type="button" (click)="setRequestIdNull()"><i class="fa fa-close"></i></button>
                            </div>
                        </div>
                    </div>
                    <input class="form-control" name="requestEvent.requestId" [(ngModel)]="requestEvent.requestId" type="text"  hidden>
		 
					<div class="form-group m-form__group">
                        <label for="UserName">{{l("User")}}</label>
                        <div class="input-group">
                            <input class="form-control" id="UserName" name="userName" [(ngModel)]="userName" type="text" disabled>     
                            <div class="input-group-append">
                                <button class="btn btn-primary blue" (click)="openSelectUserModal()" type="button"><i class="fa fa-search"></i> {{l("Pick")}}</button>
                            </div> <div class="input-group-prepend">
                                <button class="btn btn-danger" type="button" (click)="setUserIdNull()"><i class="fa fa-close"></i></button>
                            </div>
                        </div>
                    </div>
                    <input class="form-control" name="requestEvent.userId" [(ngModel)]="requestEvent.userId" type="text"  hidden>
		 

								<div class="form-group">
									<label for="RequestEvent_Event">{{l("Event")}}</label>
									<input type="text" id="RequestEvent_Event" class="form-control" [(ngModel)]="requestEvent.event" name="Event"    />
								</div>
					
								<div class="form-group">
									<label for="RequestEvent_EventDescription">{{l("EventDescription")}}</label>
									<input type="text" id="RequestEvent_EventDescription" class="form-control" [(ngModel)]="requestEvent.eventDescription" name="EventDescription"    />
								</div>
					
								<div class="form-group m-form__group row">
									<label for="RequestEvent_EventDate"  class="col-md-12">{{l("EventDate")}}</label>
									<div class="col-lg-10 col-md-9 col-sm-8">
										<input class="form-control m-input" type="datetime" bsDatepicker [(ngModel)]="requestEvent.eventDate" id="RequestEvent_EventDate" name="RequestEvent_EventDate">
									</div>
								</div>
					

                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">{{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!requestEventForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i> <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>
<requestTypeLookupTableModal #requestTypeLookupTableModal (modalSave)="getNewRequestTypeId()"></requestTypeLookupTableModal>
		 <requestLookupTableModal #requestLookupTableModal (modalSave)="getNewRequestId()"></requestLookupTableModal>
		 <userLookupTableModal #userLookupTableModal (modalSave)="getNewUserId()"></userLookupTableModal>
		 
</div>