<div [@routerTransition]>
    <div class="m-subheader">
        <div class="d-flex align-items-center">
            <div class="mr-auto col-md-6">
                <h3 class="m-subheader__title m-subheader__title--separator">
                    <span>{{l("RequestEvents")}}</span>
                </h3>
                <span class="m-section__sub">
                    {{l("RequestEventsHeaderInfo")}}
                </span>
            </div>
            <div class="col-md-6 text-right">
				<button (click)="exportToExcel()" class="btn btn-outline-success"><i class="fa fa-file-excel-o"></i> {{l("ExportToExcel")}}</button>
                <button *ngIf="isGranted('Pages.RequestEvents.Create')" (click)="createRequestEvent()" 
			class="btn btn-primary blue"><i class="fa fa-plus"></i> {{l("CreateNewRequestEvent")}}</button>
            </div>
        </div>
    </div>
    <div class="m-content">
        <div class="m-portlet m-portlet--mobile">
            <div class="m-portlet__body">

				<form class="horizontal-form" autocomplete="off">
                    <div class="m-form m-form--label-align-right">
                        <div class="row align-items-center m--margin-bottom-10">
                            <div class="col-xl-12">
                                <div class="form-group m-form__group align-items-center">
                                    <div class="input-group">
                                        <input [(ngModel)]="filterText" name="filterText" autoFocus class="form-control m-input" [placeholder]="l('SearchWithThreeDot')" type="text">
                                        <span class="input-group-btn">
                                            <button (click)="getRequestEvents()" class="btn btn-primary" type="submit"><i class="flaticon-search-1"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
						 <div class="row m--margin-bottom-10" [hidden]="!advancedFiltersAreShown">
						 	<div class="col-md-12">
						         <div class="m-separator m-separator--dashed"></div>
						     </div>


							<div class="col-md-3">
								<div class="form-group">
									<label for="EventFilter">{{l("Event")}}</label>
									<input type="text" class="form-control" id="EventFilter" name="eventFilter" [(ngModel)]="eventFilter">
								</div>
                            </div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="EventDescriptionFilter">{{l("EventDescription")}}</label>
									<input type="text" class="form-control" id="EventDescriptionFilter" name="eventDescriptionFilter" [(ngModel)]="eventDescriptionFilter">
								</div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
									<label  for="MinEventDateFilter">{{l("MinMax")}} {{l("EventDate")}}</label>
									<div class="input-group">
                                        <input class="form-control m-input" id="MinEventDateFilter" name="MinEventDateFilter" type="datetime" bsDatepicker  placeholder="{{l('MinValue')}}" [(ngModel)]="minEventDateFilter">
                                        <input class="form-control m-input" id="MaxEventDateFilter" name="MaxEventDateFilter" type="datetime" bsDatepicker  placeholder="{{l('MaxValue')}}" [(ngModel)]="maxEventDateFilter">
									</div>
                                </div>
                            </div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="RequestTypeRequestCodeFilter">({{l("RequestType")}}) {{l("RequestCode")}}</label>
									<input type="text" class="form-control" id="RequestTypeRequestCodeFilter" name="requestTypeRequestCodeFilter" [(ngModel)]="requestTypeRequestCodeFilter">
                                </div>
                            </div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="RequestTenantIdFilter">({{l("Request")}}) {{l("TenantId")}}</label>
									<input type="text" class="form-control" id="RequestTenantIdFilter" name="requestTenantIdFilter" [(ngModel)]="requestTenantIdFilter">
                                </div>
                            </div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="UserNameFilter">({{l("User")}}) {{l("Name")}}</label>
									<input type="text" class="form-control" id="UserNameFilter" name="userNameFilter" [(ngModel)]="userNameFilter">
                                </div>
                            </div>

                        </div>
                        <div class="row margin-bottom-10">
                            <div class="col-sm-12">
                                <span class="clickable-item text-muted" *ngIf="!advancedFiltersAreShown" (click)="advancedFiltersAreShown=!advancedFiltersAreShown"><i class="fa fa-angle-down"></i> {{l("ShowAdvancedFilters")}}</span>
                                <span class="clickable-item text-muted" *ngIf="advancedFiltersAreShown" (click)="advancedFiltersAreShown=!advancedFiltersAreShown"><i class="fa fa-angle-up"></i> {{l("HideAdvancedFilters")}}</span>
                            </div>
                        </div>
                    </div>
                </form>

                <div class="row align-items-center">
                    <!--<Primeng-Datatable-Start>-->
                    <div class="primeng-datatable-container"
                         [busyIf]="primengTableHelper.isLoading">
                        <p-table #dataTable
                                     (onLazyLoad)="getRequestEvents($event)"
                                     [value]="primengTableHelper.records"
                                     rows="{{primengTableHelper.defaultRecordsCountPerPage}}"
                                     [paginator]="false"
                                     [lazy]="true"
                                     [scrollable]="true"
                                     ScrollWidth="100%"
                                     [responsive]="primengTableHelper.isResponsive"
                                     [resizableColumns]="primengTableHelper.resizableColumns">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th style="width: 130px" [hidden]="!isGrantedAny('Pages.RequestEvents.Edit', 'Pages.RequestEvents.Delete')">{{l('Actions')}}</th>
                                    <th style="width: 150px" pSortableColumn="requestTypeRequestCode">
                                        {{l('RequestCode')}}
                                        <p-sortIcon field="requestTypeRequestCode"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="requestTenantId">
                                        {{l('TenantId')}}
                                        <p-sortIcon field="requestTenantId"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="userName">
                                        {{l('Name')}}
                                        <p-sortIcon field="userName"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="requestEvent.event">
                                        {{l('Event')}}
                                        <p-sortIcon field="requestEvent.event"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="requestEvent.eventDescription">
                                        {{l('EventDescription')}}
                                        <p-sortIcon field="requestEvent.eventDescription"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="requestEvent.eventDate">
                                        {{l('EventDate')}}
                                        <p-sortIcon field="requestEvent.eventDate"></p-sortIcon>
                                    </th>

                                </tr>
                            </ng-template>                           
							<ng-template pTemplate="body" let-record="$implicit">
                                <tr>
                                    <td style="width: 130px"
                                        [hidden]="!isGrantedAny('Pages.RequestEvents.Edit', 'Pages.RequestEvents.Delete')">
                                       <div class="btn-group dropdown" dropdown container="body">
                                            <button class="dropdown-toggle btn btn-sm btn-primary" dropdownToggle>
                                                <i class="fa fa-cog"></i><span class="caret"></span> {{l("Actions")}}
                                            </button>
												<ul class="dropdown-menu"  *dropdownMenu>
												<li>
													<a href="javascript:;"
														(click)="viewRequestEventModal.show(record)">{{l('View')}}</a>
												</li>
												<li>
													<a href="javascript:;" *ngIf="permission.isGranted('Pages.RequestEvents.Edit')"
														(click)="createOrEditRequestEventModal.show(record.requestEvent.id)">{{l('Edit')}}</a>
												</li>
												<li>
											        <a href="javascript:;" *ngIf="permission.isGranted('Pages.RequestEvents.Delete')"
														(click)="deleteRequestEvent(record.requestEvent)">{{l('Delete')}}</a>
												</li>
                                            </ul>
                                        </div>
                                    </td>
                                    <td style="width:150px">
												<span class="ui-column-title"> {{l('RequestCode')}}</span>
												{{record.requestTypeRequestCode}}
											</td>
                                    <td style="width:150px">
												<span class="ui-column-title"> {{l('TenantId')}}</span>
												{{record.requestTenantId}}
											</td>
                                    <td style="width:150px">
												<span class="ui-column-title"> {{l('Name')}}</span>
												{{record.userName}}
											</td>
                                    <td style="width:150px">
											<span class="ui-column-title"> {{l('Event')}}</span>
											{{record.requestEvent.event}}
										</td>
                                    <td style="width:150px">
											<span class="ui-column-title"> {{l('EventDescription')}}</span>
											{{record.requestEvent.eventDescription}}
										</td>
                                    <td style="width:150px">
										<span class="ui-column-title"> {{l('EventDate')}}</span>
                                        <span *ngIf="record.requestEvent.eventDate">
											{{record.requestEvent.eventDate | momentFormat:'L'}}
                                        </span>
                                        <span *ngIf="!record.requestEvent.eventDate">-</span>
                                    </td>

                                </tr>
                            </ng-template>
                        </p-table>
						<div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                            {{l('NoData')}}
                        </div>
                        <div class="primeng-paging-container">
                            <p-paginator rows="{{primengTableHelper.defaultRecordsCountPerPage}}"
                                         #paginator
                                         (onPageChange)="getRequestEvents($event)"
                                         [totalRecords]="primengTableHelper.totalRecordsCount"
                                         [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                            </p-paginator>
                            <span class="total-records-count">
                                {{l('TotalRecordsCount', primengTableHelper.totalRecordsCount)}}
                            </span>
                        </div>
                    </div>
                    <!--<Primeng-Datatable-End>-->
                </div>
            </div>
        </div>
    </div>

    <createOrEditRequestEventModal #createOrEditRequestEventModal (modalSave)="getRequestEvents()"></createOrEditRequestEventModal>
    <viewRequestEventModal #viewRequestEventModal></viewRequestEventModal>
    
</div>