<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #requestAssetForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="requestAsset.id">{{l("EditRequestAsset")}}</span>
                        <span *ngIf="!requestAsset.id">{{l("CreateNewRequestAsset")}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                 

					<div class="form-group m-form__group">
                        <label for="AssetAssetName">{{l("Asset")}}</label>
                        <div class="input-group">
                            <input class="form-control" id="AssetAssetName" name="assetAssetName" [(ngModel)]="assetAssetName" type="text" disabled>     
                            <div class="input-group-append">
                                <button class="btn btn-primary blue" (click)="openSelectAssetModal()" type="button"><i class="fa fa-search"></i> {{l("Pick")}}</button>
                            </div> <div class="input-group-prepend">
                                <button class="btn btn-danger" type="button" (click)="setAssetIdNull()"><i class="fa fa-close"></i></button>
                            </div>
                        </div>
                    </div>
                    <input class="form-control" name="requestAsset.assetId" [(ngModel)]="requestAsset.assetId" type="text"  hidden>
		 
					<div class="form-group m-form__group">
                        <label for="RequestTenantId">{{l("Request")}}</label>
                        <div class="input-group">
                            <input class="form-control" id="RequestTenantId" name="requestTenantId" [(ngModel)]="requestTenantId" type="text" disabled>     
                            <div class="input-group-append">
                                <button class="btn btn-primary blue" (click)="openSelectRequestModal()" type="button"><i class="fa fa-search"></i> {{l("Pick")}}</button>
                            </div> <div class="input-group-prepend">
                                <button class="btn btn-danger" type="button" (click)="setRequestIdNull()"><i class="fa fa-close"></i></button>
                            </div>
                        </div>
                    </div>
                    <input class="form-control" name="requestAsset.requestId" [(ngModel)]="requestAsset.requestId" type="text"  hidden>
		 

								<div class="form-group">
									<label for="RequestAsset_AssetRequest">{{l("AssetRequest")}}</label>
									<input type="text" id="RequestAsset_AssetRequest" class="form-control" [(ngModel)]="requestAsset.assetRequest" name="AssetRequest"    />
								</div>
					

                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">{{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!requestAssetForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i> <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>
<assetLookupTableModal #assetLookupTableModal (modalSave)="getNewAssetId()"></assetLookupTableModal>
		 <requestLookupTableModal #requestLookupTableModal (modalSave)="getNewRequestId()"></requestLookupTableModal>
		 
</div>