<div [@routerTransition]>
    <div class="m-subheader">
        <div class="d-flex align-items-center">
            <div class="mr-auto col-md-6">
                <h3 class="m-subheader__title m-subheader__title--separator">
                    <span>{{l("RequestAssets")}}</span>
                </h3>
                <span class="m-section__sub">
                    {{l("RequestAssetsHeaderInfo")}}
                </span>
            </div>
            <div class="col-md-6 text-right">
				<button (click)="exportToExcel()" class="btn btn-outline-success"><i class="fa fa-file-excel-o"></i> {{l("ExportToExcel")}}</button>
                <button *ngIf="isGranted('Pages.RequestAssets.Create')" (click)="createRequestAsset()" 
			class="btn btn-primary blue"><i class="fa fa-plus"></i> {{l("CreateNewRequestAsset")}}</button>
            </div>
        </div>
    </div>
    <div class="m-content">
        <div class="m-portlet m-portlet--mobile">
            <div class="m-portlet__body">

				<form class="horizontal-form" autocomplete="off">
                    <div class="m-form m-form--label-align-right">
                        <div class="row align-items-center m--margin-bottom-10">
                            <div class="col-xl-12">
                                <div class="form-group m-form__group align-items-center">
                                    <div class="input-group">
                                        <input [(ngModel)]="filterText" name="filterText" autoFocus class="form-control m-input" [placeholder]="l('SearchWithThreeDot')" type="text">
                                        <span class="input-group-btn">
                                            <button (click)="getRequestAssets()" class="btn btn-primary" type="submit"><i class="flaticon-search-1"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
						 <div class="row m--margin-bottom-10" [hidden]="!advancedFiltersAreShown">
						 	<div class="col-md-12">
						         <div class="m-separator m-separator--dashed"></div>
						     </div>


							<div class="col-md-3">
								<div class="form-group">
									<label for="AssetRequestFilter">{{l("AssetRequest")}}</label>
									<input type="text" class="form-control" id="AssetRequestFilter" name="assetRequestFilter" [(ngModel)]="assetRequestFilter">
								</div>
                            </div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="AssetAssetNameFilter">({{l("Asset")}}) {{l("AssetName")}}</label>
									<input type="text" class="form-control" id="AssetAssetNameFilter" name="assetAssetNameFilter" [(ngModel)]="assetAssetNameFilter">
                                </div>
                            </div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="RequestTenantIdFilter">({{l("Request")}}) {{l("TenantId")}}</label>
									<input type="text" class="form-control" id="RequestTenantIdFilter" name="requestTenantIdFilter" [(ngModel)]="requestTenantIdFilter">
                                </div>
                            </div>

                        </div>
                        <div class="row margin-bottom-10">
                            <div class="col-sm-12">
                                <span class="clickable-item text-muted" *ngIf="!advancedFiltersAreShown" (click)="advancedFiltersAreShown=!advancedFiltersAreShown"><i class="fa fa-angle-down"></i> {{l("ShowAdvancedFilters")}}</span>
                                <span class="clickable-item text-muted" *ngIf="advancedFiltersAreShown" (click)="advancedFiltersAreShown=!advancedFiltersAreShown"><i class="fa fa-angle-up"></i> {{l("HideAdvancedFilters")}}</span>
                            </div>
                        </div>
                    </div>
                </form>

                <div class="row align-items-center">
                    <!--<Primeng-Datatable-Start>-->
                    <div class="primeng-datatable-container"
                         [busyIf]="primengTableHelper.isLoading">
                        <p-table #dataTable
                                     (onLazyLoad)="getRequestAssets($event)"
                                     [value]="primengTableHelper.records"
                                     rows="{{primengTableHelper.defaultRecordsCountPerPage}}"
                                     [paginator]="false"
                                     [lazy]="true"
                                     [scrollable]="true"
                                     ScrollWidth="100%"
                                     [responsive]="primengTableHelper.isResponsive"
                                     [resizableColumns]="primengTableHelper.resizableColumns">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th style="width: 130px" [hidden]="!isGrantedAny('Pages.RequestAssets.Edit', 'Pages.RequestAssets.Delete')">{{l('Actions')}}</th>
                                    <th style="width: 150px" pSortableColumn="assetAssetName">
                                        {{l('AssetName')}}
                                        <p-sortIcon field="assetAssetName"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="requestTenantId">
                                        {{l('TenantId')}}
                                        <p-sortIcon field="requestTenantId"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="requestAsset.assetRequest">
                                        {{l('AssetRequest')}}
                                        <p-sortIcon field="requestAsset.assetRequest"></p-sortIcon>
                                    </th>

                                </tr>
                            </ng-template>                           
							<ng-template pTemplate="body" let-record="$implicit">
                                <tr>
                                    <td style="width: 130px"
                                        [hidden]="!isGrantedAny('Pages.RequestAssets.Edit', 'Pages.RequestAssets.Delete')">
                                       <div class="btn-group dropdown" dropdown container="body">
                                            <button class="dropdown-toggle btn btn-sm btn-primary" dropdownToggle>
                                                <i class="fa fa-cog"></i><span class="caret"></span> {{l("Actions")}}
                                            </button>
												<ul class="dropdown-menu"  *dropdownMenu>
												<li>
													<a href="javascript:;"
														(click)="viewRequestAssetModal.show(record)">{{l('View')}}</a>
												</li>
												<li>
													<a href="javascript:;" *ngIf="permission.isGranted('Pages.RequestAssets.Edit')"
														(click)="createOrEditRequestAssetModal.show(record.requestAsset.id)">{{l('Edit')}}</a>
												</li>
												<li>
											        <a href="javascript:;" *ngIf="permission.isGranted('Pages.RequestAssets.Delete')"
														(click)="deleteRequestAsset(record.requestAsset)">{{l('Delete')}}</a>
												</li>
                                            </ul>
                                        </div>
                                    </td>
                                    <td style="width:150px">
												<span class="ui-column-title"> {{l('AssetName')}}</span>
												{{record.assetAssetName}}
											</td>
                                    <td style="width:150px">
												<span class="ui-column-title"> {{l('TenantId')}}</span>
												{{record.requestTenantId}}
											</td>
                                    <td style="width:150px">
											<span class="ui-column-title"> {{l('AssetRequest')}}</span>
											{{record.requestAsset.assetRequest}}
										</td>

                                </tr>
                            </ng-template>
                        </p-table>
						<div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                            {{l('NoData')}}
                        </div>
                        <div class="primeng-paging-container">
                            <p-paginator rows="{{primengTableHelper.defaultRecordsCountPerPage}}"
                                         #paginator
                                         (onPageChange)="getRequestAssets($event)"
                                         [totalRecords]="primengTableHelper.totalRecordsCount"
                                         [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                            </p-paginator>
                            <span class="total-records-count">
                                {{l('TotalRecordsCount', primengTableHelper.totalRecordsCount)}}
                            </span>
                        </div>
                    </div>
                    <!--<Primeng-Datatable-End>-->
                </div>
            </div>
        </div>
    </div>

    <createOrEditRequestAssetModal #createOrEditRequestAssetModal (modalSave)="getRequestAssets()"></createOrEditRequestAssetModal>
    <viewRequestAssetModal #viewRequestAssetModal></viewRequestAssetModal>
    
</div>