<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg" style="width:700px">
        <div class="modal-content">
            <form *ngIf="active" #requestTypeForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="requestType.id">{{l("EditRequestType")}}</span>
                        <span *ngIf="!requestType.id">{{l("CreateNewRequestType")}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">



                    <div class="form-group">
                        <!--<label for="RequestType_RequestCode">{{l("RequestCode")}}</label>-->
                        <label for="RequestType_RequestCode">Name</label>
                        <input type="text" id="RequestType_RequestCode" class="form-control" [(ngModel)]="requestType.requestCode" name="RequestCode" />
                    </div>

                    <div class="form-group">
                        <label for="RequestType_RequestDescription">Description</label>
                        <textarea type="text" id="RequestType_RequestDescription" class="form-control" [(ngModel)]="requestType.requestDescription" name="RequestDescription"></textarea>
                    </div>

                    <div class="form-group">
                        <label for="RequestType_RequestOtherDetails">Other details</label>
                        <input type="text" id="RequestType_RequestOtherDetails" class="form-control" [(ngModel)]="requestType.requestOtherDetails" name="RequestOtherDetails" />
                    </div>

                    <div class="form-group">
                        <label for="RequestType_ApprovalNo">Number of required approval (enter 0, if none is required)</label>
                        <input type="number" id="RequestType_ApprovalNo" class="form-control" [(ngModel)]="requestType.approvalNo" name="ApprovalNo" />
                    </div>

                    <br /><div class="m-checkbox-list">
                        <label for="RequestType_requestExpiry" class="m-checkbox">
                            <input id="RequestType_requestExpiry" type="checkbox" name="requestExpiry" [(ngModel)]="requestType.requestExpiry">
                            Does Request type require Expiry Date?
                            <span></span>
                        </label>
                    </div>
                    <br />

                    <div *ngIf="requestType.requestExpiry">
                        <div class="form-group m-form__group">
                            <label for="RequestTypeRequestCode">Reversal Request Type</label>
                            <div class="input-group">
                                <input class="form-control" id="RequestTypeRequestCode" name="requestTypeRequestCode" [(ngModel)]="requestTypeRequestCode" type="text" disabled>
                                <div class="input-group-append">
                                    <button class="btn btn-primary blue" (click)="openSelectRequestTypeModal()" type="button"><i class="fa fa-search"></i> {{l("Pick")}}</button>
                                </div> <div class="input-group-prepend">
                                    <button class="btn btn-danger" type="button" (click)="setRequestTypeIdNull()"><i class="fa fa-close"></i></button>
                                </div>
                            </div>
                        </div>
                        <input class="form-control" name="requestType.reverseRequestType" [(ngModel)]="requestType.reverseRequestType" type="text" hidden>
                    </div>

                    <div class="form-group m-form__group">
                        <label for="AssetAssetName">Add Asset Type</label>
                        <div class="table-responsive col-md-12 border">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">Asset Type</th>
                                        <th scope="col">Description</th>
                                        <th scope="col" class="pull-right"><button class="btn btn-outline-success btn-sm" (click)="openSelectAssetTypeModal()" type="button"><i class="fa fa-plus"></i>Add</button></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of ApplicationApplicationName">
                                        <td scope="row">{{item.displayName}}</td>
                                        <td>{{item.assetTypeDescription}}</td>
                                        <td class="pull-right"><button class="btn btn-danger btn-sm" type="button" (click)="removeApplicationNameId(item.id)"><i class="fa fa-trash"></i></button></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">{{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!requestTypeForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i> <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>
<assetTypeLookupTableModal #assetTypeLookupTableModal (modalSave)="getNewAssetTypeId($event)"></assetTypeLookupTableModal>
<requestTypeLookupTableModal #requestTypeLookupTableModal (modalSave)="getNewRequestTypeId()"></requestTypeLookupTableModal>
    
</div>
