<div [@routerTransition]>
    <div class="m-subheader">
        <div class="d-flex align-items-center">
            <div class="mr-auto col-md-6">
                <h3 class="m-subheader__title m-subheader__title--separator">
                    <span>{{l("RequestTypes")}}</span>
                </h3>
                <!-- <span class="m-section__sub">
                    {{l("RequestTypesHeaderInfo")}}
                </span> -->
            </div>
            <div class="col-md-6 text-right">
				<button (click)="exportToExcel()" class="btn btn-outline-success"><i class="fa fa-file-excel-o"></i> {{l("ExportToExcel")}}</button>
                <button *ngIf="isGranted('Pages.RequestTypes.Create')" (click)="createRequestType()" 
			class="btn btn-primary blue"><i class="fa fa-plus"></i> {{l("CreateNewRequestType")}}</button>
            </div>
        </div>
    </div>
    <div class="m-content">
        <div class="m-portlet m-portlet--mobile">
            <div class="m-portlet__body">

				<form class="horizontal-form" autocomplete="off">
                    <div class="m-form m-form--label-align-right">
                        <div class="row align-items-center m--margin-bottom-10">
                            <div class="col-xl-12">
                                <div class="form-group m-form__group align-items-center">
                                    <div class="input-group">
                                        <input [(ngModel)]="filterText" name="filterText" autoFocus class="form-control m-input" [placeholder]="l('SearchWithThreeDot')" type="text">
                                        <span class="input-group-btn">
                                            <button (click)="getRequestTypes()" class="btn btn-primary" type="submit"><i class="flaticon-search-1"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
						 <div class="row m--margin-bottom-10" [hidden]="!advancedFiltersAreShown">
						 	<div class="col-md-12">
						         <div class="m-separator m-separator--dashed"></div>
						     </div>


							<div class="col-md-3">
								<div class="form-group">
									<label for="RequestCodeFilter">{{l("RequestCode")}}</label>
									<input type="text" class="form-control" id="RequestCodeFilter" name="requestCodeFilter" [(ngModel)]="requestCodeFilter">
								</div>
                            </div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="RequestDescriptionFilter">{{l("RequestDescription")}}</label>
									<input type="text" class="form-control" id="RequestDescriptionFilter" name="requestDescriptionFilter" [(ngModel)]="requestDescriptionFilter">
								</div>
                            </div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="RequestOtherDetailsFilter">{{l("RequestOtherDetails")}}</label>
									<input type="text" class="form-control" id="RequestOtherDetailsFilter" name="requestOtherDetailsFilter" [(ngModel)]="requestOtherDetailsFilter">
								</div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
									<label for="MinApprovalNoFilter">{{l("MinMax")}} {{l("ApprovalNo")}}</label>
									<div class="input-group">
                                        <input type="number" class="form-control" id="MinApprovalNoFilter" [(ngModel)]="minApprovalNoFilter" placeholder="{{l('MinValue')}}" name="minApprovalNoFilter" />
                                        <input type="number" class="form-control" [(ngModel)]="maxApprovalNoFilter" placeholder="{{l('MaxValue')}}" name="maxApprovalNoFilter" />
									</div>
                                </div>
                            </div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="AssetTypeAssetTypeNameFilter">({{l("AssetType")}}) {{l("AssetTypeName")}}</label>
									<input type="text" class="form-control" id="AssetTypeAssetTypeNameFilter" name="assetTypeAssetTypeNameFilter" [(ngModel)]="assetTypeAssetTypeNameFilter">
                                </div>
                            </div>

                        </div>
                        <div class="row margin-bottom-10">
                            <div class="col-sm-12">
                                <span class="clickable-item text-muted" *ngIf="!advancedFiltersAreShown" (click)="advancedFiltersAreShown=!advancedFiltersAreShown"><i class="fa fa-angle-down"></i> {{l("ShowAdvancedFilters")}}</span>
                                <span class="clickable-item text-muted" *ngIf="advancedFiltersAreShown" (click)="advancedFiltersAreShown=!advancedFiltersAreShown"><i class="fa fa-angle-up"></i> {{l("HideAdvancedFilters")}}</span>
                            </div>
                        </div>
                    </div>
                </form>

                <div class="row align-items-center">
                    <!--<Primeng-Datatable-Start>-->
                    <div class="primeng-datatable-container"
                         [busyIf]="primengTableHelper.isLoading">
                        <p-table #dataTable
                                     (onLazyLoad)="getRequestTypes($event)"
                                     [value]="primengTableHelper.records"
                                     rows="{{primengTableHelper.defaultRecordsCountPerPage}}"
                                     [paginator]="false"
                                     [lazy]="true"
                                     [scrollable]="true"
                                     ScrollWidth="100%"
                                     [responsive]="primengTableHelper.isResponsive"
                                     [resizableColumns]="primengTableHelper.resizableColumns">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th [hidden]="!isGrantedAny('Pages.RequestTypes.Edit', 'Pages.RequestTypes.Delete')">{{l('Actions')}}</th>
    
                                    <th pSortableColumn="requestType.requestCode">
                                        {{l('RequestCode')}}
                                        <p-sortIcon field="requestType.requestCode"></p-sortIcon>
                                    </th>
                                    <th pSortableColumn="requestType.requestDescription">
                                        {{l('RequestDescription')}}
                                        <p-sortIcon field="requestType.requestDescription"></p-sortIcon>
                                    </th>

                                    <th pSortableColumn="requestType.approvalNo">
                                        {{l('ApprovalNo')}}
                                        <p-sortIcon field="requestType.approvalNo"></p-sortIcon>
                                    </th>
                                    <th pSortableColumn="requestType.approvalNo">
                                        Request Expire?
                                        <p-sortIcon field="requestType.requestExpiry"></p-sortIcon>
                                    </th>
                                </tr>
                            </ng-template>                           
							<ng-template pTemplate="body" let-record="$implicit">
                                <tr>
                                    <td [hidden]="!isGrantedAny('Pages.RequestTypes.Edit', 'Pages.RequestTypes.Delete')">
                                        <div class="btn-group dropdown" dropdown container="body">
                                            <button class="dropdown-toggle btn btn-sm btn-primary" dropdownToggle>
                                                <i class="fa fa-cog"></i><span class="caret"></span> {{l("Actions")}}
                                            </button>
                                            <ul class="dropdown-menu" *dropdownMenu>
                                                <li>
                                                    <a href="javascript:;"
                                                        (click)="viewRequestTypeModal.show(record)">{{l('View')}}</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:;" *ngIf="permission.isGranted('Pages.RequestTypes.Edit')"
                                                        (click)="createOrEditRequestTypeModal.show(record.requestType.id)">{{l('Edit')}}</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:;" *ngIf="permission.isGranted('Pages.RequestTypes.Delete')"
                                                        (click)="deleteRequestType(record.requestType)">{{l('Delete')}}</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                    <td>
                                        <span class="ui-column-title"> {{l('RequestCode')}}</span>
                                        {{record.requestType.requestCode}}
                                    </td>
                                    <td>
                                        <span class="ui-column-title"> {{l('RequestDescription')}}</span>
                                        {{record.requestType.requestDescription}}
                                    </td>

                                    <td>
                                        <span class="ui-column-title">{{l('ApprovalNo')}} </span>
                                        {{record.requestType.approvalNo}}
                                    </td>

                                    <td>
                                        <span class="ui-column-title"> RequestExpire</span>
                                        <div *ngIf="record.requestType.requestExpiry" class="text-center"><i class="fa fa-check-circle m--font-success" title="True"></i></div>
                                        <div *ngIf="!record.requestType.requestExpiry" class="text-center"><i class="fa fa-times-circle" title="False"></i></div>
                                    </td>

                                </tr>
                            </ng-template>
                        </p-table>
						<div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                            {{l('NoData')}}
                        </div>
                        <div class="primeng-paging-container">
                            <p-paginator rows="{{primengTableHelper.defaultRecordsCountPerPage}}"
                                         #paginator
                                         (onPageChange)="getRequestTypes($event)"
                                         [totalRecords]="primengTableHelper.totalRecordsCount"
                                         [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                            </p-paginator>
                            <span class="total-records-count">
                                {{l('TotalRecordsCount', primengTableHelper.totalRecordsCount)}}
                            </span>
                        </div>
                    </div>
                    <!--<Primeng-Datatable-End>-->
                </div>
            </div>
        </div>
    </div>

    <createOrEditRequestTypeModal #createOrEditRequestTypeModal (modalSave)="getRequestTypes()"></createOrEditRequestTypeModal>
    <viewRequestTypeModal #viewRequestTypeModal></viewRequestTypeModal>
    
</div>
