<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span>{{l("")}}</span>
                </h4>
                <button type="button" class="close" (click)="close()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="m-stack m-stack--hor m-stack--general m-stack--demo">
                    <div class="m-form__group row">
                        <div class="col-sm-4 col-form-label">
                            {{l("RequestCode")}}
                        </div>
                        <div class="col-sm-8 col-form-label">
                            {{item.requestType.requestCode}}
                        </div>
                    </div>
                    
                    <div class="m-form__group row">
                        <div class="col-sm-4 col-form-label">
                            {{l("RequestDescription")}}
                        </div>
                        <div class="col-sm-8 col-form-label">
                            {{item.requestType.requestDescription}}
                        </div>
                    </div>
                    
                    <div class="m-form__group row">
                        <div class="col-sm-4 col-form-label">
                            {{l("RequestOtherDetails")}}
                        </div>
                        <div class="col-sm-8 col-form-label">
                            {{item.requestType.requestOtherDetails}}
                        </div>
                    </div>
                    
                    <div class="m-form__group row">
                        <div class="col-sm-4 col-form-label">
                            {{l("ApprovalNo")}}
                        </div>
                        <div class="col-sm-8 col-form-label">
                            {{item.requestType.approvalNo}}
                        </div>
                    </div>
                    

                    <div class="m-form__group row">
                        <div class="col-sm-4 col-form-label">
                            ({{l("AssetType")}}) {{l("AssetTypeName")}}
                        </div>
                        <div class="col-sm-8 col-form-label">
                            {{item.assetTypeAssetTypeName}}
                        </div>
                    </div>
                    

                </div>

            </div>
            <div class="modal-footer">
                <button [disabled]="saving" type="button" class="btn btn-primary blue" (click)="close()">{{l("Close")}}</button>
            </div>
        </div>
    </div>

</div>
