<div
    bsModal
    #createOrEditModal="bs-modal"
    class="modal fade"
    tabindex="-1"
    role="dialog"
    aria-labelledby="createOrEditModal"
    aria-hidden="true"
    [config]="{ backdrop: 'static' }"
>
    <div class="modal-dialog modal-lg" style="max-width: 700px !important">
        <div class="modal-content">
            <form
                *ngIf="active"
                #requestForm="ngForm"
                novalidate
                (ngSubmit)="save()"
                autocomplete="off"
            >
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="request.id">{{ l("EditRequest") }}</span>
                        <!-- prettier-ignore -->
                        <span *ngIf="!request.id">{{l("CreateNewRequest")}}</span>
                    </h4>
                    <button
                        type="button"
                        class="close"
                        (click)="close()"
                        aria-label="Close"
                    >
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group m-form__group">
                        <!-- prettier-ignore -->
                        <label for="RequestTypeRequestCode">Type</label>
                        <div class="input-group">
                            <input
                                class="form-control"
                                id="RequestTypeRequestCode"
                                name="requestTypeRequestCode"
                                [(ngModel)]="requestTypeRequestCode"
                                type="text"
                                disabled
                                required
                            />
                            <div class="input-group-append">
                                <button
                                    class="btn btn-primary blue"
                                    (click)="openSelectRequestTypeModal()"
                                    type="button"
                                >
                                    <i class="fa fa-search"></i> {{ l("Pick") }}
                                </button>
                            </div>
                            <div class="input-group-prepend">
                                <button
                                    class="btn btn-danger"
                                    type="button"
                                    (click)="setRequestTypeIdNull()"
                                >
                                    <i class="fa fa-close"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <input
                        class="form-control"
                        name="request.requestTypeId"
                        [(ngModel)]="request.requestTypeId"
                        type="text"
                        hidden
                        required
                    />

                    <br />
                    <div class="m-checkbox-list">
                        <label for="Request_AnotherUser" class="m-checkbox">
                            <input
                                id="Request_AnotherUser"
                                type="checkbox"
                                name="Request_AnotherUser"
                                [(ngModel)]="createRequestForAnotherUser"
                                (click)="setUserIdNull()"
                            />
                            Request For Another User?
                            <span></span> </label
                        ><br />
                    </div>

                    <div *ngIf="createRequestForAnotherUser">
                        <div class="form-group m-form__group">
                            <label for="UserName">{{ l("User") }}</label>
                            <div class="input-group">
                                <input
                                    class="form-control"
                                    id="UserName"
                                    name="userName"
                                    [(ngModel)]="userName"
                                    type="text"
                                    disabled
                                />
                                <div class="input-group-append">
                                    <button
                                        class="btn btn-primary blue"
                                        (click)="openSelectUserModal()"
                                        type="button"
                                    >
                                        <i class="fa fa-search"></i>
                                        {{ l("Pick") }}
                                    </button>
                                </div>
                                <div class="input-group-prepend">
                                    <button
                                        class="btn btn-danger"
                                        type="button"
                                        (click)="setUserIdNull()"
                                    >
                                        <i class="fa fa-close"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <input
                            class="form-control"
                            name="request.userId"
                            [(ngModel)]="request.userId"
                            type="text"
                            hidden
                        />
                    </div>

                    <div class="form-group">
                        <label for="Request_RequestDescription">Description</label>
                        <textarea
                            type="text"
                            id="Request_RequestDescription"
                            class="form-control"
                            [(ngModel)]="request.requestDescription"
                            name="RequestDescription"
                        ></textarea>
                    </div>

                    <div *ngIf="showExpiryField">
                        <div class="form-group m-form__group row">
                            <label for="Request_ExpiryDate" class="col-md-12">{{
                                l("ExpiryDate")
                            }}</label>
                            <div class="col-lg-10 col-md-9 col-sm-8">
                                <input
                                    class="form-control m-input"
                                    type="datetime"
                                    bsDatepicker
                                    [(ngModel)]="request.expiryDate"
                                    id="Request_ExpiryDate"
                                    name="Request_ExpiryDate"
                                />
                            </div>
                        </div>
                    </div>

                    <div class="m-checkbox-list">
                        <label for="Filter_By_Branch" class="m-checkbox">
                            <input
                                id="Filter_By_Branch"
                                type="checkbox"
                                name="Filter_By_Branch"
                                [(ngModel)]="filterByBranch"
                                (click)="setBranchIdNull()"
                            />
                            Filter assets by branch?
                            <span></span> </label
                        ><br />
                    </div>

                    <div>
                        
                        <!--  -->
                        <div *ngIf="filterByBranch" class="form-group m-form__group">
                            <label for="BranchBranchName">
                                {{l("Branch")}}
                            </label>
                            <div class="input-group">
                                <input 
                                    class="form-control" 
                                    id="BranchBranchName" 
                                    name="branchBranchName" 
                                    [(ngModel)]="branchBranchName" 
                                    type="text" disabled>
                                <div class="input-group-append">
                                    <button 
                                        class="btn btn-primary blue" 
                                        (click)="openSelectBranchModal()" 
                                        type="button"
                                    >
                                        <i class="fa fa-search"></i>{{l("Pick")}}
                                    </button>
                                </div> 
                                <div class="input-group-prepend">
                                    <button 
                                        class="btn btn-danger" 
                                        type="button" 
                                        (click)="setBranchIdNull()"
                                    >
                                        <i class="fa fa-close"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <input class="form-control" name="branchId" [(ngModel)]="branchId" type="text" hidden>
                    </div>

                    <div
                        class="form-group m-form__group"
                        *ngIf="request.requestTypeId"
                    >
                        <label for="AssetAssetName">{{ l("Asset") }}</label>
                        <div class="table-responsive col-md-12 border-top">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">Asset</th>
                                        <th scope="col">Asset Description</th>
                                        <th scope="col" class="pull-right">
                                            <button
                                                class="btn btn-outline-success btn-sm"
                                                (click)="openSelectAssetModal()"
                                                type="button"
                                            >
                                                <i class="fa fa-plus"></i>Add
                                            </button>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!-- prettier-ignore -->
                                    <tr *ngFor="let item of assetList">
                                        <td scope="row">
                                            {{ item.displayName }}
                                        </td>
                                        <td>{{ item.assetDescription }}</td>
                                        <td class="pull-right">
                                            <!-- prettier-ignore -->
                                            <button
                                                class="btn btn-danger btn-sm"
                                                type="button"
                                                (click)="removeApplicationNameId(item.id)"
                                            >
                                                <i class="fa fa-trash"></i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button
                        [disabled]="saving"
                        type="button"
                        class="btn btn-default"
                        (click)="close()"
                    >
                        {{ l("Cancel") }}
                    </button>
                    <button
                        type="submit"
                        class="btn btn-primary blue"
                        [disabled]="!requestForm.form.valid"
                        [buttonBusy]="saving"
                        [busyText]="l('SavingWithThreeDot')"
                    >
                        <i class="fa fa-save"></i> <span>{{ l("Save") }}</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <requestTypeLookupTableModal
        #requestTypeLookupTableModal
        (modalSave)="getNewRequestTypeId()"
    >
    </requestTypeLookupTableModal>
    <userLookupTableModal
        #userLookupTableModal
        (modalSave)="getNewUserId()"
    ></userLookupTableModal>
    <assetLookupTableModal
        #assetLookupTableModal
        (modalSave)="getNewAssetId($event)"
    ></assetLookupTableModal>
    <branchLookupTableModal
        #branchLookupTableModal
        (modalSave)="getNewBranchId()"
    >
    </branchLookupTableModal>
</div>
