<div [@routerTransition]>
    <div class="m-subheader">
        <div class="d-flex align-items-center">
            <div class="mr-auto col-md-6">
                <h3 class="m-subheader__title m-subheader__title--separator">
                    <span>{{l("Requests")}}</span>
                </h3>
                <!-- <span class="m-section__sub">
                    {{l("RequestsHeaderInfo")}}
                </span> -->
            </div>
            <div class="col-md-6 text-right">
				<button (click)="exportToExcel()" class="btn btn-outline-success"><i class="fa fa-file-excel-o"></i> {{l("ExportToExcel")}}</button>
                <button *ngIf="isGranted('Pages.Requests.Create')" (click)="createRequest()" 
			class="btn btn-primary blue"><i class="fa fa-plus"></i> {{l("CreateNewRequest")}}</button>
            </div>
        </div>
    </div>
    <div class="m-content">
        <div class="m-portlet m-portlet--mobile">
            <div class="m-portlet__body">

				<form class="horizontal-form" autocomplete="off">
                    <div class="m-form m-form--label-align-right">
                        <div class="row align-items-center m--margin-bottom-10">
                            <div class="col-xl-12">
                                <div class="form-group m-form__group align-items-center">
                                    <div class="input-group">
                                        <input [(ngModel)]="filterText" name="filterText" autoFocus class="form-control m-input" [placeholder]="l('SearchWithThreeDot')" type="text">
                                        <span class="input-group-btn">
                                            <button (click)="getRequests()" class="btn btn-primary" type="submit"><i class="flaticon-search-1"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
						 <div class="row m--margin-bottom-10" [hidden]="!advancedFiltersAreShown">
						 	<div class="col-md-12">
						         <div class="m-separator m-separator--dashed"></div>
						     </div>


							<div class="col-md-3">
								<div class="form-group">
									<label for="RequestDescriptionFilter">{{l("RequestDescription")}}</label>
									<input type="text" class="form-control" id="RequestDescriptionFilter" name="requestDescriptionFilter" [(ngModel)]="requestDescriptionFilter">
								</div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
									<label  for="MinExpiryDateFilter">{{l("MinMax")}} {{l("ExpiryDate")}}</label>
									<div class="input-group">
                                        <input class="form-control m-input" id="MinExpiryDateFilter" name="MinExpiryDateFilter" type="datetime" bsDatepicker  placeholder="{{l('MinValue')}}" [(ngModel)]="minExpiryDateFilter">
                                        <input class="form-control m-input" id="MaxExpiryDateFilter" name="MaxExpiryDateFilter" type="datetime" bsDatepicker  placeholder="{{l('MaxValue')}}" [(ngModel)]="maxExpiryDateFilter">
									</div>
                                </div>
                            </div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="RequestTypeRequestCodeFilter">({{l("RequestType")}}) {{l("RequestCode")}}</label>
									<input type="text" class="form-control" id="RequestTypeRequestCodeFilter" name="requestTypeRequestCodeFilter" [(ngModel)]="requestTypeRequestCodeFilter">
                                </div>
                            </div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="UserNameFilter">({{l("User")}}) {{l("Name")}}</label>
									<input type="text" class="form-control" id="UserNameFilter" name="userNameFilter" [(ngModel)]="userNameFilter">
                                </div>
                            </div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="AssetAssetNameFilter">({{l("Asset")}}) {{l("AssetName")}}</label>
									<input type="text" class="form-control" id="AssetAssetNameFilter" name="assetAssetNameFilter" [(ngModel)]="assetAssetNameFilter">
                                </div>
                            </div>

                        </div>
                        <div class="row margin-bottom-10">
                            <div class="col-sm-12">
                                <span class="clickable-item text-muted" *ngIf="!advancedFiltersAreShown" (click)="advancedFiltersAreShown=!advancedFiltersAreShown"><i class="fa fa-angle-down"></i> {{l("ShowAdvancedFilters")}}</span>
                                <span class="clickable-item text-muted" *ngIf="advancedFiltersAreShown" (click)="advancedFiltersAreShown=!advancedFiltersAreShown"><i class="fa fa-angle-up"></i> {{l("HideAdvancedFilters")}}</span>
                            </div>
                        </div>
                    </div>
                </form>

                <div class="row align-items-center">
                    <!--<Primeng-Datatable-Start>-->
                    <div class="primeng-datatable-container"
                         [busyIf]="primengTableHelper.isLoading">
                        <p-table #dataTable
                                     (onLazyLoad)="getRequests($event)"
                                     [value]="primengTableHelper.records"
                                     rows="{{primengTableHelper.defaultRecordsCountPerPage}}"
                                     [paginator]="false"
                                     [lazy]="true"
                                     [scrollable]="true"
                                     ScrollWidth="100%"
                                     [responsive]="primengTableHelper.isResponsive"
                                     [resizableColumns]="primengTableHelper.resizableColumns">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th style="width: 130px; text-align:left" [hidden]="!isGrantedAny('Pages.Requests.Edit', 'Pages.Requests.Delete')">{{l('Actions')}}</th>
                                    <th style="width: 150px" pSortableColumn="requestTypeRequestCode">
                                        {{l('RequestCode')}}
                                        <p-sortIcon field="requestTypeRequestCode"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="userName">
                                        {{l('Name')}}
                                        <p-sortIcon field="userName"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="request.expiryDate">
                                        {{l('ExpiryDate')}}
                                        <p-sortIcon field="request.expiryDate"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="request.expiryDate">
                                        Request Status
                                        <p-sortIcon field="request.requestStatus"></p-sortIcon>
                                    </th>
                                    <th style="width:150px">
                                        {{l('RequestDescription')}}
                                        <p-sortIcon field="request.requestDescription"></p-sortIcon>
                                    </th>

                                </tr>
                            </ng-template>                           
							<ng-template pTemplate="body" let-record="$implicit">
                                <tr>
                                    <td style="width: 130px; text-align:left"
                                        [hidden]="!isGrantedAny('Pages.Requests.Edit', 'Pages.Requests.Delete')">
                                        <div class="btn-group dropdown" dropdown container="body">
                                            <button class="dropdown-toggle btn btn-sm btn-primary" dropdownToggle>
                                                <i class="fa fa-cog"></i><span class="caret"></span> {{l("Actions")}}
                                            </button>
                                            <ul class="dropdown-menu" *dropdownMenu>
                                                <li>
                                                    <a href="javascript:;"
                                                       (click)="viewRequestModal.show(record.request.id)">{{l('View')}}</a>
                                                </li>

                                                <li>
                                                    <a href="javascript:;" *ngIf="permission.isGranted('Pages.Requests.Edit') && record.request.requestStatus == 'P'"
                                                       (click)="createOrEditRequestModal.show(record.request.id)">{{l('Edit')}}</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:;" *ngIf="permission.isGranted('Pages.Requests.Delete') && record.request.requestStatus == 'P'"
                                                       (click)="deleteRequest(record.request)">{{l('Delete')}}</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                    <td style="width:150px">
                                        <span class="ui-column-title"> {{l('RequestCode')}}</span>
                                        {{record.requestTypeRequestCode}}
                                    </td>
                                    <td style="width:150px">
                                        <span class="ui-column-title"> {{l('Name')}}</span>
                                        {{record.userName}}
                                    </td>
                                    <td style="width:150px">
                                        <span class="ui-column-title"> {{l('ExpiryDate')}}</span>
                                        <span *ngIf="record.request.expiryDate > lastExpiryDate">
                                            {{record.request.expiryDate | momentFormat:'YYYY-MM-DD HH:mm:ss'}}
                                        </span>
                                        <span *ngIf="record.request.expiryDate < lastExpiryDate"> - </span>
                                    </td>

                                    <td style="width:150px">
                                        <span class="ui-column-title"> {{l('RequestDescription')}}</span>
                                        <div *ngIf="record.request.requestStatus == 'P'" class="badge badge-primary"> Pending </div>
                                        <div *ngIf="record.request.requestStatus == 'A'" class="badge badge-success"> Approved </div>
                                        <div *ngIf="record.request.requestStatus == 'R'" class="badge badge-danger"> Rejected </div>
                                    </td>

                                    <td style="width:150px">
                                        <span class="ui-column-title"> {{l('RequestDescription')}}</span>
                                        {{record.request.requestDescription}}
                                    </td>

                                </tr>
                            </ng-template>
                        </p-table>
						<div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                            {{l('NoData')}}
                        </div>
                        <div class="primeng-paging-container">
                            <p-paginator rows="{{primengTableHelper.defaultRecordsCountPerPage}}"
                                         #paginator
                                         (onPageChange)="getRequests($event)"
                                         [totalRecords]="primengTableHelper.totalRecordsCount"
                                         [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                            </p-paginator>
                            <span class="total-records-count">
                                {{l('TotalRecordsCount', primengTableHelper.totalRecordsCount)}}
                            </span>
                        </div>
                    </div>
                    <!--<Primeng-Datatable-End>-->
                </div>
            </div>
        </div>
    </div>

    <createOrEditRequestModal #createOrEditRequestModal (modalSave)="getRequests()"></createOrEditRequestModal>
    <viewRequestModal #viewRequestModal></viewRequestModal>
    
</div>
