<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span>View request</span>
                </h4>
                <button type="button" class="close" (click)="close()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="m-stack m-stack--hor m-stack--general m-stack--demo">
                    <div class="m-form__group row">
                        <div class="col-sm-4 col-form-label">Description :</div>
                        <div class="col-sm-8 col-form-label">{{item.request.requestDescription}}</div>
                    </div>
                    <!-- <div class="m-separator m-separator--dashed"></div> -->
                    <div class="m-form__group row">
                        <div class="col-sm-4 col-form-label">{{l("ExpiryDate")}} :</div>
                        <div class="col-sm-8 col-form-label">{{item.request.expiryDate}}</div>
                    </div>
                    <!-- <div class="m-separator m-separator--dashed"></div> -->

                    <div class="m-form__group row">
                        <div class="col-sm-4 col-form-label">Request type code:</div>
                        <div class="col-sm-8 col-form-label">{{item.requestTypeRequestCode}}</div>
                    </div>
                    <!-- <div class="m-separator m-separator--dashed"></div> -->
                    <div class="m-form__group row">
                        <div class="col-sm-4 col-form-label">Owner :</div>
                        <div class="col-sm-8 col-form-label">{{item.userName}}</div>
                    </div>
                    <div class="m-separator m-separator--dashed"></div>
                    <div class="form-group m-form__group">
                        <label for="AssetAssetName">Attached Assets</label>
                        <div class="">
                            <p-table #dataTable [value]="primengTableHelper.records">
                                 <ng-template pTemplate="header">
                                     <tr>
                                         <th scope="col">Asset</th>
                                         <th scope="col">Asset Description</th>
                                         <th style="width:100px;">Status</th>
                                         <th style="width:150px;">Rejected By</th>
                                     </tr>
                                </ng-template>
                                 <ng-template pTemplate="body" let-record="$implicit" let-rowData>
                                     <tr>
                                         <td scope="row">{{record.displayName}}</td>
                                         <td>{{record.assetDescription}}</td>
                                         <td style="width:100px;">
                                             <div *ngIf="record.RequestStatus == 'A'" class="badge badge-success"> Approved </div>
                                             <div *ngIf="record.RequestStatus == 'R'" class="badge badge-danger"> Rejected </div>
                                             <div *ngIf="record.RequestStatus == 'P'" class="badge badge-info"> Pending </div>
                                         </td>
                                         <td style="width:150px;">{{record.RejectedBy}}</td>
                                     </tr>
                                 </ng-template>
                            </p-table>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button [disabled]="saving" type="button" class="btn btn-primary blue" (click)="close()">{{l("Close")}}</button>
            </div>
        </div>
    </div>

</div>
