<div [@routerTransition]>
    <div class="m-subheader">
        <div class="d-flex align-items-center">
            <div class="mr-auto col-md-6">
                <h3 class="m-subheader__title m-subheader__title--separator">
                    <span>{{l("Applications")}}</span>
                </h3>
                <!-- <span class="m-section__sub">
                    {{l("ApplicationsHeaderInfo")}}
                </span> -->
            </div>
            <div class="col-md-6 text-right">
				<button (click)="exportToExcel()" class="btn btn-outline-success"><i class="fa fa-file-excel-o"></i> {{l("ExportToExcel")}}</button>
                <button *ngIf="isGranted('Pages.Applications.Create')" (click)="createApplication()" 
			class="btn btn-primary blue"><i class="fa fa-plus"></i> {{l("CreateNewApplication")}}</button>
            </div>
        </div>
    </div>
    <div class="m-content">
        <div class="m-portlet m-portlet--mobile">
            <div class="m-portlet__body">

				<form class="horizontal-form" autocomplete="off">
                    <div class="m-form m-form--label-align-right">
                        <div class="row align-items-center m--margin-bottom-10">
                            <div class="col-xl-12">
                                <div class="form-group m-form__group align-items-center">
                                    <div class="input-group">
                                        <input [(ngModel)]="filterText" name="filterText" autoFocus class="form-control m-input" [placeholder]="l('SearchWithThreeDot')" type="text">
                                        <span class="input-group-btn">
                                            <button (click)="getApplications()" class="btn btn-primary" type="submit"><i class="flaticon-search-1"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
						 <div class="row m--margin-bottom-10" [hidden]="!advancedFiltersAreShown">
						 	<div class="col-md-12">
						         <div class="m-separator m-separator--dashed"></div>
						     </div>


							<div class="col-md-3">
								<div class="form-group">
									<label for="ApplicationNameFilter">{{l("ApplicationName")}}</label>
									<input type="text" class="form-control" id="ApplicationNameFilter" name="applicationNameFilter" [(ngModel)]="applicationNameFilter">
								</div>
                            </div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="ApplicationDescFilter">{{l("ApplicationDesc")}}</label>
									<input type="text" class="form-control" id="ApplicationDescFilter" name="applicationDescFilter" [(ngModel)]="applicationDescFilter">
								</div>
                            </div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="URLFilter">{{l("URL")}}</label>
									<input type="text" class="form-control" id="URLFilter" name="urlFilter" [(ngModel)]="urlFilter">
								</div>
                            </div>
							<div class="col-md-3">
								<label for="ImportanceFilterSelect">{{l("Importance")}}</label>
								<select class="form-control" name="ImportanceFilter" id="ImportanceFilterSelect" [(ngModel)]="importanceFilter">
								<option value="-1">{{l("All")}}</option>
																			<option value="0">{{l('Enum_ApplicationImportance_0')}}</option>

										<option value="1">{{l('Enum_ApplicationImportance_1')}}</option>

										<option value="2">{{l('Enum_ApplicationImportance_2')}}</option>


								</select>
                            </div>

                        </div>
                        <div class="row margin-bottom-10">
                            <div class="col-sm-12">
                                <span class="clickable-item text-muted" *ngIf="!advancedFiltersAreShown" (click)="advancedFiltersAreShown=!advancedFiltersAreShown"><i class="fa fa-angle-down"></i> {{l("ShowAdvancedFilters")}}</span>
                                <span class="clickable-item text-muted" *ngIf="advancedFiltersAreShown" (click)="advancedFiltersAreShown=!advancedFiltersAreShown"><i class="fa fa-angle-up"></i> {{l("HideAdvancedFilters")}}</span>
                            </div>
                        </div>
                    </div>
                </form>

                <div class="row align-items-center">
                    <!--<Primeng-Datatable-Start>-->
                    <div class="primeng-datatable-container"
                         [busyIf]="primengTableHelper.isLoading">
                        <p-table #dataTable
                                     (onLazyLoad)="getApplications($event)"
                                     [value]="primengTableHelper.records"
                                     rows="{{primengTableHelper.defaultRecordsCountPerPage}}"
                                     [paginator]="false"
                                     [lazy]="true"
                                     [scrollable]="true"
                                     ScrollWidth="100%"
                                     [responsive]="primengTableHelper.isResponsive"
                                     [resizableColumns]="primengTableHelper.resizableColumns">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th style="width: 130px" [hidden]="!isGrantedAny('Pages.Applications.Edit', 'Pages.Applications.Delete')">{{l('Actions')}}</th>
                                    <th style="width: 150px" pSortableColumn="application.applicationName">
                                        {{l('ApplicationName')}}
                                        <p-sortIcon field="application.applicationName"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="application.applicationDesc">
                                        {{l('ApplicationDesc')}}
                                        <p-sortIcon field="application.applicationDesc"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="application.url">
                                        {{l('URL')}}
                                        <p-sortIcon field="application.url"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="application.importance">
                                        {{l('Importance')}}
                                        <p-sortIcon field="application.importance"></p-sortIcon>
                                    </th>

                                </tr>
                            </ng-template>                           
							<ng-template pTemplate="body" let-record="$implicit">
                                <tr>
                                    <td style="width: 130px"
                                        [hidden]="!isGrantedAny('Pages.Applications.Edit', 'Pages.Applications.Delete')">
                                       <div class="btn-group dropdown" dropdown container="body">
                                            <button class="dropdown-toggle btn btn-sm btn-primary" dropdownToggle>
                                                <i class="fa fa-cog"></i><span class="caret"></span> {{l("Actions")}}
                                            </button>
												<ul class="dropdown-menu"  *dropdownMenu>
												<li>
													<a href="javascript:;"
														(click)="viewApplicationModal.show(record)">{{l('View')}}</a>
												</li>
												<li>
													<a href="javascript:;" *ngIf="permission.isGranted('Pages.Applications.Edit')"
														(click)="createOrEditApplicationModal.show(record.application.id)">{{l('Edit')}}</a>
												</li>
												<li>
											        <a href="javascript:;" *ngIf="permission.isGranted('Pages.Applications.Delete')"
														(click)="deleteApplication(record.application)">{{l('Delete')}}</a>
												</li>
                                            </ul>
                                        </div>
                                    </td>
                                    <td style="width:150px">
											<span class="ui-column-title"> {{l('ApplicationName')}}</span>
											{{record.application.applicationName}}
										</td>
                                    <td style="width:150px">
											<span class="ui-column-title"> {{l('ApplicationDesc')}}</span>
											{{record.application.applicationDesc}}
										</td>
                                    <td style="width:150px">
											<span class="ui-column-title"> {{l('URL')}}</span>
											{{record.application.url}}
										</td>
                                    <td style="width:150px">
										<span class="ui-column-title"> {{l('Importance')}}</span>
										{{l('Enum_ApplicationImportance' + applicationImportance[record.application.importance])}}
                                    </td>

                                </tr>
                            </ng-template>
                        </p-table>
						<div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                            {{l('NoData')}}
                        </div>
                        <div class="primeng-paging-container">
                            <p-paginator rows="{{primengTableHelper.defaultRecordsCountPerPage}}"
                                         #paginator
                                         (onPageChange)="getApplications($event)"
                                         [totalRecords]="primengTableHelper.totalRecordsCount"
                                         [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                            </p-paginator>
                            <span class="total-records-count">
                                {{l('TotalRecordsCount', primengTableHelper.totalRecordsCount)}}
                            </span>
                        </div>
                    </div>
                    <!--<Primeng-Datatable-End>-->
                </div>
            </div>
        </div>
    </div>

    <createOrEditApplicationModal #createOrEditApplicationModal (modalSave)="getApplications()"></createOrEditApplicationModal>
    <viewApplicationModal #viewApplicationModal></viewApplicationModal>
    
</div>