<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #applicationForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="application.id">{{l("EditApplication")}}</span>
                        <span *ngIf="!application.id">{{l("CreateNewApplication")}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                 


								<div class="form-group">
									<label for="Application_ApplicationName">{{l("ApplicationName")}}</label>
									<input type="text" id="Application_ApplicationName" class="form-control" [(ngModel)]="application.applicationName" name="ApplicationName"    />
								</div>
					
								<div class="form-group">
									<label for="Application_ApplicationDesc">{{l("ApplicationDesc")}}</label>
									<input type="text" id="Application_ApplicationDesc" class="form-control" [(ngModel)]="application.applicationDesc" name="ApplicationDesc"    />
								</div>
					
								<div class="form-group">
									<label for="Application_URL">{{l("URL")}}</label>
									<input type="text" id="Application_URL" class="form-control" [(ngModel)]="application.url" name="URL"    />
								</div>
					
								<div class="form-group">
									<label for="Application_ApplicationUsername">{{l("ApplicationUsername")}}</label>
									<input type="text" id="Application_ApplicationUsername" class="form-control" [(ngModel)]="application.applicationUsername" name="ApplicationUsername"    />
								</div>
					
								<div class="form-group">
									<label for="Application_ApplicationPassword">{{l("ApplicationPassword")}}</label>
									<input type="text" id="Application_ApplicationPassword" class="form-control" [(ngModel)]="application.applicationPassword" name="ApplicationPassword"    />
								</div>
					
								<div class="form-group">
									<label for="Application_Importance">{{l("Importance")}}</label>
									<select class="form-control" name="Importance" id="Application_Importance" [(ngModel)]="application.importance">
									<option value="0">{{l('Enum_ApplicationImportance_0')}}</option>

									<option value="1">{{l('Enum_ApplicationImportance_1')}}</option>

									<option value="2">{{l('Enum_ApplicationImportance_2')}}</option>


									</select>
								</div>
					

                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">{{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!applicationForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i> <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>

</div>