<div [@routerTransition]>
    <div class="m-subheader">
        <div class="d-flex align-items-center">
            <div class="mr-auto col-md-6">
                <h3 class="m-subheader__title m-subheader__title--separator">
                    <span>{{l("TreatRequests")}}</span>
                </h3>
                <!-- <span class="m-section__sub">
                    {{l("TreatRequestsHeaderInfo")}}
                </span> -->
            </div>
            
        </div>
    </div>
    <div class="m-content">
        <div class="m-portlet m-portlet--mobile">
            <div class="m-portlet__body">

				<form class="horizontal-form" autocomplete="off">
                    <div class="m-form m-form--label-align-right">
                        <!-- 
                            <div class="row align-items-center m--margin-bottom-10">
                            <div class="col-xl-12">
                                <div class="form-group m-form__group align-items-center">
                                    <div class="input-group">
                                        <input [(ngModel)]="filterText" name="filterText" autoFocus class="form-control m-input" [placeholder]="l('SearchWithThreeDot')" type="text">
                                        <span class="input-group-btn">
                                            <button (click)="getTreatRequests()" class="btn btn-primary" type="submit"><i class="flaticon-search-1"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
						 <div class="row m--margin-bottom-10" [hidden]="!advancedFiltersAreShown">
						 	<div class="col-md-12">
						         <div class="m-separator m-separator--dashed"></div>
						     </div>


							<div class="col-md-3">
								<div class="form-group">
									<label for="RequestNameFilter">{{l("RequestName")}}</label>
									<input type="text" class="form-control" id="RequestNameFilter" name="requestNameFilter" [(ngModel)]="requestNameFilter">
								</div>
                            </div>

                        </div>
                        <div class="row margin-bottom-10">
                            <div class="col-sm-12">
                                <span class="clickable-item text-muted" *ngIf="!advancedFiltersAreShown" (click)="advancedFiltersAreShown=!advancedFiltersAreShown"><i class="fa fa-angle-down"></i> {{l("ShowAdvancedFilters")}}</span>
                                <span class="clickable-item text-muted" *ngIf="advancedFiltersAreShown" (click)="advancedFiltersAreShown=!advancedFiltersAreShown"><i class="fa fa-angle-up"></i> {{l("HideAdvancedFilters")}}</span>
                            </div>
                        </div>
                        -->
                        <div class="row">
                            <div class="col-md-2">
                                <label>
                                        <input type="checkbox"
                                        [(ngModel)]="pendingRequests"
                                        id="TenantsTable_pendingRequests"
                                        name="pendingRequests"
                                        (click)="FilterData1()" 
                                        >
                                 Show Pending Requests 
                             </label>
                                    <!-- <input type="checkbox" name="PendingRequests" [(ngModel)]="pendingRequests" (click)="FilterData();" /> 
                                    <span style="padding-bottom: 10px;">Show Pending Requests</span></label> -->
                            </div>
                            <div class="col-md-2">
                                <label><input type="checkbox" name="ApprovedRequests"  [(ngModel)]="ApprovedRequests" value="A" (click)="FilterData2();" /> 
                                    <span style="padding-bottom: 10px;">Show Approved Requests</span></label>
                            </div>
                            <div class="col-md-2">
                                <label><input type="checkbox"  name="RejectedRequests"  [(ngModel)]="RejectedRequests" value="R" (click)="FilterData3();" /> 
                                    <span style="padding-bottom: 10px;">Show Rejected Requests</span></label>
                            </div>
                        </div>
                        <div style="height: 10px;"></div>
                    </div>
                </form>

                <div class="row align-items-center">
                    <!--<Primeng-Datatable-Start>-->
                    <div class="primeng-datatable-container"
                         [busyIf]="primengTableHelper.isLoading">
                        <p-table #dataTable
                                     (onLazyLoad)="getTreatRequests($event)"
                                     [value]="primengTableHelper.records"
                                     rows="{{primengTableHelper.defaultRecordsCountPerPage}}"
                                     [paginator]="false"
                                     [lazy]="true"
                                     [scrollable]="true"
                                     ScrollWidth="100%"
                                     [responsive]="primengTableHelper.isResponsive"
                                     [resizableColumns]="primengTableHelper.resizableColumns">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th style="width: 130px" [hidden]="!isGrantedAny('Pages.TreatRequests.Edit', 'Pages.TreatRequests.Delete')">{{l('Actions')}}</th>
                                    <th> Requested By</th>
                                    <th> Request Type</th>
                                    <th> Asset Type</th>
                                    <th> Asset Code</th>
                                    <th> Requested Date</th>
                                    <th> Status</th>
                                    <th> Date Treated</th>
                                </tr>
                            </ng-template>                           
							<ng-template pTemplate="body" let-record="$implicit">
                                <tr>
                                    <td style="width: 130px"
                                        [hidden]="!isGrantedAny('Pages.TreatRequests.Edit', 'Pages.TreatRequests.Delete')">
                                        <div class="btn-group dropdown" dropdown container="body">
                                            <button class="btn btn-sm btn-primary" (click)="viewTreatRequestModal.show(record)">
                                                <i class="fa fa-eye"></i> {{l("View")}}
                                            </button>
                                        </div>
                                    </td>
                                    <td><span class="ui-column-title"> {{l('RequestName')}}</span>{{record.requestOwner}}</td>
                                    <td><span class="ui-column-title"> {{l('RequestName')}}</span>{{record.rType.requestCode}}</td>
                                    <td><span class="ui-column-title"> {{l('RequestName')}}</span>{{record.assetType.assetTypeName}}</td>
                                    <td><span class="ui-column-title"> {{l('RequestName')}}</span>{{record.assetCode}}</td>
                                    <td>
                                        <span class="ui-column-title"> {{l('ExpiryDate')}}</span>
                                        <span *ngIf="record.requests.initiationTime > lastExpiryDate">
                                            {{record.requests.initiationTime | momentFormat:'YYYY-MM-DD HH:mm:ss'}}
                                        </span>
                                        <span *ngIf="record.requests.initiationTime < lastExpiryDate"> - </span>
                                    </td>
                                    <td>
                                        <span class="ui-column-title"> Status</span>
                                        <div *ngIf="record.requestAssetTreated == 'P'" class="badge badge-primary"> Pending </div>
                                        <div *ngIf="record.requestAssetTreated == 'A'" class="badge badge-success"> Treated </div>
                                        <div *ngIf="record.requestAssetTreated == 'R'" class="badge badge-danger"> Closed </div>
                                    </td>
                                    <td>
                                        <span class="ui-column-title"> {{l('RequestName')}}</span>
                                        <span *ngIf="record.requestAssetTreatedDate > lastExpiryDate">
                                            {{record.requestAssetTreatedDate | momentFormat:'YYYY-MM-DD HH:mm:ss'}}
                                        </span>
                                        <span *ngIf="record.requestAssetTreatedDate < lastExpiryDate"> - </span>
                                    </td>

                                </tr>
                            </ng-template>
                        </p-table>
						<div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                            {{l('NoData')}}
                        </div>
                        <div class="primeng-paging-container">
                            <p-paginator rows="{{primengTableHelper.defaultRecordsCountPerPage}}"
                                         #paginator
                                         (onPageChange)="getTreatRequests($event)"
                                         [totalRecords]="primengTableHelper.totalRecordsCount"
                                         [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                            </p-paginator>
                            <span class="total-records-count">
                                {{l('TotalRecordsCount', primengTableHelper.totalRecordsCount)}}
                            </span>
                        </div>
                    </div>
                    <!--<Primeng-Datatable-End>-->
                </div>
            </div>
        </div>
    </div>

    <createOrEditTreatRequestModal #createOrEditTreatRequestModal (modalSave)="getTreatRequests()"></createOrEditTreatRequestModal>
    <viewTreatRequestModal #viewTreatRequestModal (modalSave)="getTreatRequests()"></viewTreatRequestModal>
    
</div>
