/*input[type='checkbox'] {
    -webkit-appearance: none;
    width: 30px;
    height: 30px;
    background: white;
    border-radius: 5px;
    border: 2px solid #555555;
}

input[type='checkbox']:checked {
    background: #abd;
}*/
