<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span>View request</span>
                </h4>
                <button type="button" class="close" (click)="close()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div>
                    <!-- <div class="border-bottom">
                        <div class="btn-group mr-2" role="group" aria-label="First group">
                            <button type="button" class="btn btn-secondary">1</button>
                            <button type="button" class="btn btn-secondary">2</button>
                            <button type="button" class="btn btn-secondary">3</button>
                            <button type="button" class="btn btn-secondary">4</button>
                        </div>
                    </div> -->
    
                    <div class="m-form__group row">
                        <div class="col-sm-4 col-form-label">
                            Request by
                        </div>
                        <div class="col-sm-8 col-form-label">
                                {{ item.requestOwner }}
                        </div>
                    </div>

                    <div class="m-form__group row">
                        <div class="col-sm-4 col-form-label">
                            Initiation date
                        </div>
                        <div class="col-sm-8 col-form-label">
                                {{ request.initiationTime | momentFormat:'YYYY-MM-DD HH:mm:ss' }}
                        </div>
                    </div>

                    <div class="m-form__group row">
                        <div class="col-sm-4 col-form-label">
                            Request comment
                        </div>
                        <div class="col-sm-8 col-form-label">
                            {{ request.requestDescription }}
                        </div>
                    </div>

                    <div class="m-form__group row">
                        <div class="col-sm-4 col-form-label">
                            Type
                        </div>
                        <div class="col-sm-8 col-form-label">
                            {{ requestType.requestCode }}
                        </div>
                    </div>

                    <div class="m-form__group row">
                        <div class="col-sm-4 col-form-label">
                            Request description
                        </div>
                        <div class="col-sm-8 col-form-label">
                            {{ requestType.requestDescription }}
                        </div>
                    </div>

                    <div class="m-form__group row">
                        <div class="col-sm-4 col-form-label">
                            Does request expire?
                        </div>
                        <div class="col-sm-8 col-form-label">
                            <span *ngIf="requestType.requestExpiry == false">No</span>
                            <span *ngIf="requestType.requestExpiry == true">Yes</span>
                        </div>
                    </div>

                    <div class="m-form__group row" *ngIf="requestType.requestExpiry == true">
                        <div class="col-sm-4 col-form-label">
                            Request expiry
                        </div>
                        <div class="col-sm-8 col-form-label">
                                {{request.expiryDate}}
                        </div>
                    </div>

                    <hr />

                    <div class="m-form__group row">
                        <div class="col-sm-4 col-form-label">
                            Asset type
                        </div>
                        <div class="col-sm-8 col-form-label">
                            {{ assetType.assetTypeName }}
                        </div>
                    </div>

                    <div class="m-form__group row">
                        <div class="col-sm-4 col-form-label">
                            Asset type description
                        </div>
                        <div class="col-sm-8 col-form-label">
                            {{assetType.assetTypeDesc}}
                        </div>
                    </div>

                    <hr />
                    <div class="m-form__group row">
                        <div class="col-sm-4 col-form-label">
                            Asset code
                        </div>
                        <div class="col-sm-8 col-form-label">
                            {{item.assetCode}}
                        </div>
                    </div>
                    
                    <div class="m-form__group row">
                        <div class="col-sm-4 col-form-label">
                            Asset name
                        </div>
                        <div class="col-sm-8 col-form-label">
                            {{item.assetName}}
                        </div>
                    </div>
                    
                    <div class="m-form__group row">
                        <div class="col-sm-4 col-form-label">
                            Asset description
                        </div>
                        <div class="col-sm-8 col-form-label">
                            {{ item.assetDescription }}
                        </div>
                    </div>

                    <hr />

                    <div class="m-form__group row">
                        <div class="col-sm-4 col-form-label">
                            Approved by
                        </div>
                        <div class="col-sm-8 col-form-label">
                            {{ item.approvedBy }}
                        </div>
                    </div>
                    
                    <div class="m-form__group row" *ngIf="item.approvedBy != ''">
                        <div class="col-sm-4 col-form-label">
                            Approved date
                        </div>
                        <div class="col-sm-8 col-form-label">
                            {{ item.approvedDate | momentFormat:'YYYY-MM-DD HH:mm:ss' }}
                        </div>
                    </div>
                    
                    <hr *ngIf="item.requestAssetTreated == 'R' || item.requestAssetTreated == 'A'" />
                    
                    <div class="m-form__group row" *ngIf="item.requestAssetTreated == 'R' || item.requestAssetTreated == 'A'">
                        <div class="col-sm-4 col-form-label">
                            Treated by
                        </div>
                        <div class="col-sm-8 col-form-label">
                                {{item.requestAssetTreatedBy}}
                        </div>
                    </div>

                    <div class="m-form__group row" *ngIf="item.requestAssetTreated == 'R' || item.requestAssetTreated == 'A'">
                        <div class="col-sm-4 col-form-label">
                            Treated date
                        </div>
                        <div class="col-sm-8 col-form-label">
                            {{item.requestAssetTreatedDate | momentFormat:'YYYY-MM-DD HH:mm:ss'}}
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <div *ngIf="item.requestAssetTreated == 'P'">
                        <button [disabled]="saving" type="button" class="btn btn-primary btn-sm blue" (click)="treat(item.id)">Treated</button>
                        <button [disabled]="saving" type="button" class="btn btn-danger btn-sm" (click)="reject(item.id)">Close Request</button>
                </div>
                <button [disabled]="saving" type="button" class="btn btn-sm" (click)="close()">{{l("Close")}}</button>
            </div>
        </div>
    </div>

</div>
