<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #branchForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="branch.id">{{l("EditBranch")}}</span>
                        <span *ngIf="!branch.id">{{l("CreateNewBranch")}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                 


								<div class="form-group">
									<label for="Branch_BranchName">{{l("BranchName")}}</label>
									<input type="text" id="Branch_BranchName" class="form-control" [(ngModel)]="branch.branchName" name="BranchName"    />
								</div>
					
								<div class="form-group">
									<label for="Branch_BranchCode">{{l("BranchCode")}}</label>
									<input type="text" id="Branch_BranchCode" class="form-control" [(ngModel)]="branch.branchCode" name="BranchCode"    />
								</div>
					

                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">{{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!branchForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i> <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>

</div>