<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #userPriviledgeForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="userPriviledge.id">{{l("EditUserPriviledge")}}</span>
                        <span *ngIf="!userPriviledge.id">{{l("CreateNewUserPriviledge")}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">


                    <div class="form-group m-form__group">
                        <label for="RequestRequestCode">{{l("Request")}}</label>
                        <div class="input-group">
                            <input class="form-control" id="RequestRequestCode" name="requestRequestCode" [(ngModel)]="requestRequestCode" type="text" disabled>
                            <div class="input-group-append">
                                <button class="btn btn-primary blue" (click)="openSelectRequestModal()" type="button"><i class="fa fa-search"></i> {{l("Pick")}}</button>
                            </div> <div class="input-group-prepend">
                                <button class="btn btn-danger" type="button" (click)="setRequestIdNull()"><i class="fa fa-close"></i></button>
                            </div>
                        </div>
                    </div>
                    <input class="form-control" name="userPriviledge.requestId" [(ngModel)]="userPriviledge.requestId" type="text" hidden>

                    <div class="form-group m-form__group">
                        <label for="UserName">{{l("User")}}</label>
                        <div class="input-group">
                            <input class="form-control" id="UserName" name="userName" [(ngModel)]="userName" type="text" disabled>
                            <div class="input-group-append">
                                <button class="btn btn-primary blue" (click)="openSelectUserModal()" type="button"><i class="fa fa-search"></i> {{l("Pick")}}</button>
                            </div> <div class="input-group-prepend">
                                <button class="btn btn-danger" type="button" (click)="setUserIdNull()"><i class="fa fa-close"></i></button>
                            </div>
                        </div>
                    </div>
                    <input class="form-control" name="userPriviledge.userId" [(ngModel)]="userPriviledge.userId" type="text" hidden>

                    <div class="form-group m-form__group">
                        <label for="AssetAssetName">{{l("Asset")}}</label>
                        <div class="input-group">
                            <input class="form-control" id="AssetAssetName" name="assetAssetName" [(ngModel)]="assetAssetName" type="text" disabled>
                            <div class="input-group-append">
                                <button class="btn btn-primary blue" (click)="openSelectAssetModal()" type="button"><i class="fa fa-search"></i> {{l("Pick")}}</button>
                            </div> <div class="input-group-prepend">
                                <button class="btn btn-danger" type="button" (click)="setAssetIdNull()"><i class="fa fa-close"></i></button>
                            </div>
                        </div>
                    </div>
                    <input class="form-control" name="userPriviledge.assetId" [(ngModel)]="userPriviledge.assetId" type="text" hidden>



                    <div class="form-group m-form__group row">
                        <label for="UserPriviledge_StartDate" class="col-md-12">{{l("StartDate")}}</label>
                        <div class="col-lg-10 col-md-9 col-sm-8">
                            <input class="form-control m-input" type="datetime" bsDatepicker [(ngModel)]="userPriviledge.startDate" id="UserPriviledge_StartDate" name="UserPriviledge_StartDate">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="UserPriviledge_ApplicationUsername">{{l("ApplicationUsername")}}</label>
                        <input type="text" id="UserPriviledge_ApplicationUsername" class="form-control" [(ngModel)]="userPriviledge.applicationUsername" name="ApplicationUsername" />
                    </div>

                    <div class="form-group m-form__group row">
                        <label for="UserPriviledge_EndDate" class="col-md-12">{{l("EndDate")}}</label>
                        <div class="col-lg-10 col-md-9 col-sm-8">
                            <input class="form-control m-input" type="datetime" bsDatepicker [(ngModel)]="userPriviledge.endDate" id="UserPriviledge_EndDate" name="UserPriviledge_EndDate">
                        </div>
                    </div>
                    <br /><div class="m-checkbox-list">
                        <label for="UserPriviledge_Status" class="m-checkbox">
                            <input id="UserPriviledge_Status" type="checkbox" name="Status" [(ngModel)]="userPriviledge.status">
                            {{l("Status")}}
                            <span></span>
                        </label>
                    </div>

                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">{{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!userPriviledgeForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i> <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>
<requestLookupTableModal #requestLookupTableModal (modalSave)="getNewRequestId()"></requestLookupTableModal>
		 <userLookupTableModal #userLookupTableModal (modalSave)="getNewUserId()"></userLookupTableModal>
		 <assetLookupTableModal #assetLookupTableModal (modalSave)="getNewAssetId()"></assetLookupTableModal>
		 
</div>
