<div [@routerTransition]>
    <div class="m-subheader">
        <div class="d-flex align-items-center">
            <div class="mr-auto col-md-6">
                <h3 class="m-subheader__title m-subheader__title--separator">
                    <span>{{l("UserPriviledges")}}</span>
                </h3>
                <!-- <span class="m-section__sub">
                    {{l("UserPriviledgesHeaderInfo")}}
                </span> -->
            </div>
            <div class="col-md-6 text-right">
				<button (click)="exportToExcel()" class="btn btn-outline-success"><i class="fa fa-file-excel-o"></i> {{l("ExportToExcel")}}</button>
                <button *ngIf="isGranted('Pages.UserPriviledges.Create')" (click)="createUserPriviledge()" 
			class="btn btn-primary blue"><i class="fa fa-plus"></i> {{l("CreateNewUserPriviledge")}}</button>
            </div>
        </div>
    </div>
    <div class="m-content">
        <div class="m-portlet m-portlet--mobile">
            <div class="m-portlet__body">

				<form class="vertical-form" autocomplete="off">
                    <div class="m-form m-form--label-align-right">
						 <div class="m--margin-bottom-10">
							
                            

							<div class="col-md-10">
                                    <div class="form-group">
                                        <button class="btn btn-outline-success btn-sm" (click)="openSelectRequestTypeModal()" type="button"><i class="fa fa-plus"></i>Select Request Type to Filter</button>
                                        <br/><div style="padding: 5px;"></div>
                                        <div>
                                            <span *ngFor="let item of RequestListing">
                                                 <button class="btn btn-sm" (click)="removeNewRequestTypeId(item.id)" type="button">{{item.displayName}} &nbsp;<i class="fa fa-trash"></i></button> &nbsp;
                                            </span>
                                        </div>
                                    </div>
                            </div>

							<div class="col-md-10">
                                    <div class="form-group">
                                        <button class="btn btn-outline-success btn-sm" (click)="openSelectUserModal()" type="button"><i class="fa fa-plus"></i>Select Staff to Filter</button>
                                        <br/><div style="padding: 5px;"></div>
                                        <div>
                                            <span *ngFor="let item of UserListing">
                                                 <button class="btn btn-sm" (click)="removeNewUserId(item.id)" type="button">{{item.displayName}} &nbsp;<i class="fa fa-trash"></i></button> &nbsp;
                                            </span>
                                        </div>
                                    </div>
                            </div>

							<div class="col-md-10">
								<div class="form-group">
                                    <button class="btn btn-outline-success btn-sm" (click)="openSelectAssetModal()" type="button"><i class="fa fa-plus"></i>Add Asset to Filter</button>
                                    <br/><div style="padding: 5px;"></div>
                                    <div>
                                        <span *ngFor="let item of AssetListing">
                                             <button class="btn btn-sm" (click)="removeNewAssetId(item.id)" type="button">{{item.displayName}} &nbsp;<i class="fa fa-trash"></i></button> &nbsp;
                                        </span>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-md-4">
                                    <div class="form-group">
                                        <label  for="MinStartDateFilter">Priviledge Start Date Range</label>
                                        <div class="input-group">
                                            <input class="form-control m-input" id="MinStartDateFilter" name="MinStartDateFilter" type="datetime" bsDatepicker  placeholder="{{l('MinValue')}}" [(ngModel)]="minStartDateFilter">
                                            <input class="form-control m-input" id="MaxStartDateFilter" name="MaxStartDateFilter" type="datetime" bsDatepicker  placeholder="{{l('MaxValue')}}" [(ngModel)]="maxStartDateFilter">
                                        </div>
                                    </div>
                                </div>

                        </div>
                        <div class="row margin-bottom-10">
                            <div class="col-sm-12">
                                <button (click)="loadPriviledges()" 
                                class="btn btn-primary blue"><i class="fa fa-check"></i> Load Priviledges </button>
                                <button (click)="ClearPriviledgesGrid()" class="btn btn-outline-success"><i class="fa fa-ban"></i> Clear </button>
                            </div>
                        </div>
                    </div>
                </form>

                <div *ngIf="ShowPriviledgesGrid">
                        <div class="row align-items-center">
                                <!--<Primeng-Datatable-Start>-->
                                <div class="primeng-datatable-container"
                                     [busyIf]="primengTableHelper.isLoading">
                                    <p-table #dataTable
                                                 (onLazyLoad)="loadPriviledges()"
                                                 [value]="primengTableHelper.records"
                                                 rows="{{primengTableHelper.defaultRecordsCountPerPage}}"
                                                 [paginator]="false"
                                                 [lazy]="true"
                                                 [scrollable]="true"
                                                 ScrollWidth="100%"
                                                 [responsive]="primengTableHelper.isResponsive"
                                                 [resizableColumns]="primengTableHelper.resizableColumns">
                                        <ng-template pTemplate="header">
                                            <tr>
                                                <th style="width: 130px; text-align:left" [hidden]="!isGrantedAny('Pages.UserPriviledges.Edit', 'Pages.UserPriviledges.Delete')">{{l('Actions')}}</th>
            
                                                <th style="width: 150px" pSortableColumn="userPriviledge.applicationUsername">
                                                    {{l('ApplicationUsername')}}
                                                    <p-sortIcon field="userPriviledge.applicationUsername"></p-sortIcon>
                                                </th>
                                                <th style="width: 150px" pSortableColumn="requestRequestCode">
                                                    {{l('RequestCode')}}
                                                    <p-sortIcon field="requestRequestCode"></p-sortIcon>
                                                </th>
                                                <th style="width: 150px" pSortableColumn="userName">
                                                    {{l('Name')}}
                                                    <p-sortIcon field="userName"></p-sortIcon>
                                                </th>
                                                <th style="width: 150px" pSortableColumn="assetAssetName">
                                                    {{l('AssetName')}}
                                                    <p-sortIcon field="assetAssetName"></p-sortIcon>
                                                </th>
                                                <th style="width: 150px" pSortableColumn="userPriviledge.startDate">
                                                    {{l('StartDate')}}
                                                    <p-sortIcon field="userPriviledge.startDate"></p-sortIcon>
                                                </th>
                                                <th style="width: 150px" pSortableColumn="userPriviledge.endDate">
                                                    {{l('EndDate')}}
                                                    <p-sortIcon field="userPriviledge.endDate"></p-sortIcon>
                                                </th>
                                                
                                            </tr>
                                        </ng-template>                           
                                        <ng-template pTemplate="body" let-record="$implicit">
                                            <tr>
                                                <td style="width: 130px; text-align:left"
                                                    [hidden]="!isGrantedAny('Pages.UserPriviledges.Edit', 'Pages.UserPriviledges.Delete')">
                                                    <div class="btn-group dropdown" dropdown container="body">
                                                        <button class="dropdown-toggle btn btn-sm btn-primary" dropdownToggle>
                                                            <i class="fa fa-cog"></i><span class="caret"></span> {{l("Actions")}}
                                                        </button>
                                                        <ul class="dropdown-menu" *dropdownMenu>
                                                            <li>
                                                                <a href="javascript:;"
                                                                    (click)="viewUserPriviledgeModal.show(record)">{{l('View')}}</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </td>
                                                <td style="width:150px">
                                                    <span class="ui-column-title"> {{l('ApplicationUsername')}}</span>
                                                    {{record.applicationUsername}}
                                                </td>
                                                <td style="width:150px">
                                                    <span class="ui-column-title"> {{l('RequestCode')}}</span>
                                                    {{record.requestCode}}
                                                </td>
                                                <td style="width:150px">
                                                    <span class="ui-column-title"> {{l('Name')}}</span>
                                                    {{record.userName}}
                                                </td>
                                                <td style="width:150px">
                                                    <span class="ui-column-title"> {{l('AssetName')}}</span>
                                                    {{record.assetName}}
                                                </td>
                                                <td style="width:150px">
                                                    <span class="ui-column-title"> {{l('StartDate')}}</span>
                                                    <span *ngIf="record.startDate > lastExpiryDate">
                                                        {{record.startDate | momentFormat:'YYYY-MM-DD HH:mm:ss'}}
                                                    </span>
                                                    <span *ngIf="record.startDate < lastExpiryDate"> - </span>
                                                </td>
                                                <td style="width:150px">
                                                    <span class="ui-column-title"> {{l('EndDate')}}</span>
                                                    <span *ngIf="record.endDate > lastExpiryDate">
                                                        {{record.endDate | momentFormat:'YYYY-MM-DD HH:mm:ss'}}
                                                    </span>
                                                    <span *ngIf="record.endDate < lastExpiryDate"> - </span>
                                                </td>
                                            </tr>
                                        </ng-template>
                                    </p-table>
                                    <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                                        {{l('NoData')}}
                                    </div>
                                    <div class="primeng-paging-container">
                                        <p-paginator rows="{{primengTableHelper.defaultRecordsCountPerPage}}"
                                                     #paginator
                                                     (onPageChange)="getUserPriviledges($event)"
                                                     [totalRecords]="primengTableHelper.totalRecordsCount"
                                                     [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                                        </p-paginator>
                                        <span class="total-records-count">
                                            {{l('TotalRecordsCount', primengTableHelper.totalRecordsCount)}}
                                        </span>
                                    </div>
                                </div>
                                <!--<Primeng-Datatable-End>-->
                            </div>
                </div>
            </div>
        </div>
    </div>

    <createOrEditUserPriviledgeModal #createOrEditUserPriviledgeModal (modalSave)="getUserPriviledges()"></createOrEditUserPriviledgeModal>
    <viewUserPriviledgeModal #viewUserPriviledgeModal></viewUserPriviledgeModal>
    <assetLookupTableModal #assetLookupTableModal (modalSave)="getNewAssetId($event)"></assetLookupTableModal>
    <userLookupTableModal #userLookupTableModal (modalSave)="getNewUserId($event)"></userLookupTableModal>
    <requestTypeLookupTableModal #requestTypeLookupTableModal (modalSave)="getNewRequestTypeId($event)"></requestTypeLookupTableModal>
    
</div>
