<div [@routerTransition]>
    <div class="m-subheader">
        <div class="d-flex align-items-center">
            <div class="mr-auto col-md-6">
                <h3 class="m-subheader__title m-subheader__title--separator">
                    <span>{{l("Assets")}}</span>
                </h3>
                <!-- <span class="m-section__sub">
                    {{l("AssetsHeaderInfo")}}
                </span> -->
            </div>
            <div class="col-md-6 text-right">
				<button (click)="exportToExcel()" class="btn btn-outline-success"><i class="fa fa-file-excel-o"></i> {{l("ExportToExcel")}}</button>
                <button *ngIf="isGranted('Pages.Assets.Create')" (click)="createAsset()" 
			class="btn btn-primary blue"><i class="fa fa-plus"></i> {{l("CreateNewAsset")}}</button>
            </div>
        </div>
    </div>
    <div class="m-content">
        <div class="m-portlet m-portlet--mobile">
            <div class="m-portlet__body">

				<form class="horizontal-form" autocomplete="off">
                    <div class="m-form m-form--label-align-right">
                        <div class="row align-items-center m--margin-bottom-10">
                            <div class="col-xl-12">
                                <div class="form-group m-form__group align-items-center">
                                    <div class="input-group">
                                        <input [(ngModel)]="filterText" name="filterText" autoFocus class="form-control m-input" [placeholder]="l('SearchWithThreeDot')" type="text">
                                        <span class="input-group-btn">
                                            <button (click)="getAssets()" class="btn btn-primary" type="submit"><i class="flaticon-search-1"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
						 <div class="row m--margin-bottom-10" [hidden]="!advancedFiltersAreShown">
						 	<div class="col-md-12">
						         <div class="m-separator m-separator--dashed"></div>
						     </div>


							<div class="col-md-3">
								<div class="form-group">
									<label for="AssetNameFilter">{{l("AssetName")}}</label>
									<input type="text" class="form-control" id="AssetNameFilter" name="assetNameFilter" [(ngModel)]="assetNameFilter">
								</div>
                            </div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="AssetCodeFilter">{{l("AssetCode")}}</label>
									<input type="text" class="form-control" id="AssetCodeFilter" name="assetCodeFilter" [(ngModel)]="assetCodeFilter">
								</div>
                            </div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="AssetDescriptionFilter">{{l("AssetDescription")}}</label>
									<input type="text" class="form-control" id="AssetDescriptionFilter" name="assetDescriptionFilter" [(ngModel)]="assetDescriptionFilter">
								</div>
                            </div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="ApplicationApplicationNameFilter">({{l("Application")}}) {{l("ApplicationName")}}</label>
									<input type="text" class="form-control" id="ApplicationApplicationNameFilter" name="applicationApplicationNameFilter" [(ngModel)]="applicationApplicationNameFilter">
                                </div>
                            </div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="BranchBranchNameFilter">({{l("Branch")}}) {{l("BranchName")}}</label>
									<input type="text" class="form-control" id="BranchBranchNameFilter" name="branchBranchNameFilter" [(ngModel)]="branchBranchNameFilter">
                                </div>
                            </div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="AssetTypeAssetTypeNameFilter">({{l("AssetType")}}) {{l("AssetTypeName")}}</label>
									<input type="text" class="form-control" id="AssetTypeAssetTypeNameFilter" name="assetTypeAssetTypeNameFilter" [(ngModel)]="assetTypeAssetTypeNameFilter">
                                </div>
                            </div>

                        </div>
                        <div class="row margin-bottom-10">
                            <div class="col-sm-12">
                                <span class="clickable-item text-muted" *ngIf="!advancedFiltersAreShown" (click)="advancedFiltersAreShown=!advancedFiltersAreShown"><i class="fa fa-angle-down"></i> {{l("ShowAdvancedFilters")}}</span>
                                <span class="clickable-item text-muted" *ngIf="advancedFiltersAreShown" (click)="advancedFiltersAreShown=!advancedFiltersAreShown"><i class="fa fa-angle-up"></i> {{l("HideAdvancedFilters")}}</span>
                            </div>
                        </div>
                    </div>
                </form>

                <div class="row align-items-center">
                    <!--<Primeng-Datatable-Start>-->
                    <div class="primeng-datatable-container"
                         [busyIf]="primengTableHelper.isLoading">
                        <p-table #dataTable
                                     (onLazyLoad)="getAssets($event)"
                                     [value]="primengTableHelper.records"
                                     rows="{{primengTableHelper.defaultRecordsCountPerPage}}"
                                     [paginator]="false"
                                     [lazy]="true"
                                     [scrollable]="true"
                                     ScrollWidth="100%"
                                     [responsive]="primengTableHelper.isResponsive"
                                     [resizableColumns]="primengTableHelper.resizableColumns">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th [hidden]="!isGrantedAny('Pages.Assets.Edit', 'Pages.Assets.Delete')">{{l('Actions')}}</th>
                                    
                                    <th pSortableColumn="asset.assetName">
                                        {{l('AssetName')}}
                                        <p-sortIcon field="asset.assetName"></p-sortIcon>
                                    </th>
                                    <th pSortableColumn="asset.assetCode">
                                        {{l('AssetCode')}}
                                        <p-sortIcon field="asset.assetCode"></p-sortIcon>
                                    </th>
                                    <th pSortableColumn="assetTypeAssetTypeName">
                                        {{l('AssetTypeName')}}
                                        <p-sortIcon field="assetTypeAssetTypeName"></p-sortIcon>
                                    </th>
                                    <th pSortableColumn="applicationApplicationName">
                                        {{l('ApplicationName')}}
                                        <p-sortIcon field="applicationApplicationName"></p-sortIcon>
                                    </th>
                                    <th pSortableColumn="branchBranchName">
                                        {{l('BranchName')}}
                                        <p-sortIcon field="branchBranchName"></p-sortIcon>
                                    </th>
                                </tr>
                            </ng-template>                           
							<ng-template pTemplate="body" let-record="$implicit">
                                <tr>
                                    <td [hidden]="!isGrantedAny('Pages.Assets.Edit', 'Pages.Assets.Delete')">
                                        <div class="btn-group dropdown" dropdown container="body">
                                            <button class="dropdown-toggle btn btn-sm btn-primary" dropdownToggle>
                                                <i class="fa fa-cog"></i><span class="caret"></span> {{l("Actions")}}
                                            </button>
                                            <ul class="dropdown-menu" *dropdownMenu>
                                                <li>
                                                    <a href="javascript:;"
                                                        (click)="viewAssetModal.show(record)">{{l('View')}}</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:;" *ngIf="permission.isGranted('Pages.Assets.Edit')"
                                                        (click)="createOrEditAssetModal.show(record.asset.id)">{{l('Edit')}}</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:;" *ngIf="permission.isGranted('Pages.Assets.Delete')"
                                                        (click)="deleteAsset(record.asset)">{{l('Delete')}}</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                    <td>
                                        <span class="ui-column-title"> {{l('AssetName')}}</span>
                                        {{record.asset.assetName}}
                                    </td>
                                    <td>
                                        <span class="ui-column-title"> {{l('AssetCode')}}</span>
                                        {{record.asset.assetCode}}
                                    </td>
                                    <td>
                                        <span class="ui-column-title"> {{l('AssetTypeName')}}</span>
                                        {{record.assetTypeAssetTypeName}}
                                    </td>
                                    <td>
                                        <span class="ui-column-title"> {{l('ApplicationName')}}</span>
                                        {{record.applicationApplicationName}}
                                    </td>
                                    <td>
                                        <span class="ui-column-title"> {{l('BranchName')}}</span>
                                        {{record.branchBranchName}}
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
						<div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                            {{l('NoData')}}
                        </div>
                        <div class="primeng-paging-container">
                            <p-paginator rows="{{primengTableHelper.defaultRecordsCountPerPage}}"
                                         #paginator
                                         (onPageChange)="getAssets($event)"
                                         [totalRecords]="primengTableHelper.totalRecordsCount"
                                         [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                            </p-paginator>
                            <span class="total-records-count">
                                {{l('TotalRecordsCount', primengTableHelper.totalRecordsCount)}}
                            </span>
                        </div>
                    </div>
                    <!--<Primeng-Datatable-End>-->
                </div>
            </div>
        </div>
    </div>

    <createOrEditAssetModal #createOrEditAssetModal (modalSave)="getAssets()"></createOrEditAssetModal>
    <viewAssetModal #viewAssetModal></viewAssetModal>
    
</div>
