<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg" style="width: 600px !important">
        <div class="modal-content">
            <form *ngIf="active" #assetForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="asset.id">{{l("EditAsset")}}</span>
                        <span *ngIf="!asset.id">{{l("CreateNewAsset")}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">



                    <div class="form-group m-form__group">
                        <label for="AssetTypeAssetTypeName">Select asset type</label>
                        <div class="input-group">
                            <input class="form-control" id="AssetTypeAssetTypeName" name="assetTypeAssetTypeName" [(ngModel)]="assetTypeAssetTypeName" type="text" disabled>
                            <div class="input-group-append">
                                <button class="btn btn-primary blue" (click)="openSelectAssetTypeModal()" type="button"><i class="fa fa-search"></i> {{l("Pick")}}</button>
                            </div> <div class="input-group-prepend">
                                <button class="btn btn-danger" type="button" (click)="setAssetTypeIdNull()"><i class="fa fa-close"></i></button>
                            </div>
                        </div>
                    </div>
                    <input class="form-control" required name="asset.assetTypeId" [(ngModel)]="asset.assetTypeId" type="text" hidden>


                    <div class="form-group">
                        <label for="Asset_AssetName">Name</label>
                        <input type="text" required id="Asset_AssetName" class="form-control" [(ngModel)]="asset.assetName" name="AssetName" />
                    </div>

                    <div class="form-group">
                        <label for="Asset_AssetCode">Code</label>
                        <input type="text" id="Asset_AssetCode" class="form-control" [(ngModel)]="asset.assetCode" name="AssetCode" />
                    </div>

                    <div class="form-group">
                        <label for="Asset_AssetDescription">Description</label>
                        <textarea type="text" id="Asset_AssetDescription" class="form-control" [(ngModel)]="asset.assetDescription" name="AssetDescription"></textarea>
                    </div>
                    <div *ngIf="showBranchAssetType && asset.assetTypeId">
                        <div class="form-group m-form__group">
                            <label for="BranchBranchName">{{l("Branch")}}</label>
                            <div class="input-group">
                                <input class="form-control" id="BranchBranchName" name="branchBranchName" [(ngModel)]="branchBranchName" type="text" disabled>
                                <div class="input-group-append">
                                    <button class="btn btn-primary blue" (click)="openSelectBranchModal()" type="button"><i class="fa fa-search"></i> {{l("Pick")}}</button>
                                </div> <div class="input-group-prepend">
                                    <button class="btn btn-danger" type="button" (click)="setBranchIdNull()"><i class="fa fa-close"></i></button>
                                </div>
                            </div>
                        </div>
                        <input class="form-control" name="asset.branchId" [(ngModel)]="asset.branchId" type="text" hidden>
                    </div>
                    <div *ngIf="showApplicationAssetType && asset.assetTypeId">
                        <div class="form-group m-form__group">
                            <label for="ApplicationApplicationName">{{l("Application")}}</label>
                            <div class="input-group">
                                <input class="form-control" id="ApplicationApplicationName" name="applicationApplicationName" [(ngModel)]="applicationApplicationName" type="text" disabled>
                                <div class="input-group-append">
                                    <button class="btn btn-primary blue" (click)="openSelectApplicationModal()" type="button"><i class="fa fa-search"></i> {{l("Pick")}}</button>
                                </div> <div class="input-group-prepend">
                                    <button class="btn btn-danger" type="button" (click)="setApplicationIdNull()"><i class="fa fa-close"></i></button>
                                </div>
                            </div>
                        </div>
                        <input class="form-control" name="asset.applicationId" [(ngModel)]="asset.applicationId" type="text" hidden>
                    </div>

                        <div *ngFor="let item of assetTypeProperties">
                            <div class="form-group">
                                <label for="Asset_AssetProperties_{{item.id}}">{{item.name}}</label>
                                <input class="form-control" name="asset.applicationid" [(ngModel)]="item.id" type="text" hidden>
                                <input type="text" id="Asset_AssetProperties_{{item.id}}" [(ngModel)]="item.value" class="form-control" name="AssetProperties_{{item.id}}" />
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">{{l("Cancel")}}</button>
                        <button type="submit" class="btn btn-primary blue" [disabled]="!assetForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i> <span>{{l("Save")}}</span></button>
                    </div>
</form>
        </div>
    </div>
<applicationLookupTableModal #applicationLookupTableModal (modalSave)="getNewApplicationId()"></applicationLookupTableModal>
		 <branchLookupTableModal #branchLookupTableModal (modalSave)="getNewBranchId()"></branchLookupTableModal>
		 <assetTypeLookupTableModal #assetTypeLookupTableModal (modalSave)="getNewAssetTypeId()"></assetTypeLookupTableModal>
		 
</div>
