<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span>View asset</span>
                </h4>
                <button type="button" class="close" (click)="close()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="m-stack m-stack--hor m-stack--general m-stack--demo">
                    <div class="m-form__group row">
                        <div class="col-sm-4 col-form-label">Name</div>
                        <div class="col-sm-8 col-form-label">{{item.asset.assetName}}</div>
                    </div>

                    <div class="m-form__group row">
                        <div class="col-sm-4 col-form-label">Code</div>
                        <div class="col-sm-8 col-form-label">{{item.asset.assetCode}}</div>
                    </div>

                    <div class="m-form__group row">
                        <div class="col-sm-4 col-form-label">Description</div>
                        <div class="col-sm-8 col-form-label">{{item.asset.assetDescription}}</div>
                    </div>

                    <div class="m-form__group row" *ngIf="item.applicationApplicationName">
                        <div class="col-sm-4 col-form-label">Application name</div>
                        <div class="col-sm-8 col-form-label">{{item.applicationApplicationName}}</div>
                    </div>

                    <div class="m-form__group row" *ngIf="item.branchBranchName">
                        <div class="col-sm-4 col-form-label">Branch</div>
                        <div class="col-sm-8 col-form-label">{{item.branchBranchName}}</div>
                    </div>

                    <div class="m-form__group row" *ngIf="item.assetTypeAssetTypeName">
                        <div class="col-sm-4 col-form-label">Asset type</div>
                        <div class="col-sm-8 col-form-label">{{item.assetTypeAssetTypeName}}</div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button [disabled]="saving" type="button" class="btn btn-primary blue" (click)="close()">{{l("Close")}}</button>
            </div>
        </div>
    </div>

</div>
