<div [@routerTransition]>
    <div class="m-subheader">
        <div class="d-flex align-items-center">
            <div class="mr-auto col-md-6">
                <h3 class="m-subheader__title m-subheader__title--separator">
                    <span>{{l("AssetTypes")}}</span>
                </h3>
                <!-- <span class="m-section__sub">
                    {{l("AssetTypesHeaderInfo")}}
                </span> -->
            </div>
            <div class="col-md-6 text-right">
				<button (click)="exportToExcel()" class="btn btn-outline-success"><i class="fa fa-file-excel-o"></i> {{l("ExportToExcel")}}</button>
                <button *ngIf="isGranted('Pages.AssetTypes.Create')" (click)="createAssetType()" 
			class="btn btn-primary blue"><i class="fa fa-plus"></i> {{l("CreateNewAssetType")}}</button>
            </div>
        </div>
    </div>
    <div class="m-content">
        <div class="m-portlet m-portlet--mobile">
            <div class="m-portlet__body">

				<form class="horizontal-form" autocomplete="off">
                    <div class="m-form m-form--label-align-right">
                        <div class="row align-items-center m--margin-bottom-10">
                            <div class="col-xl-12">
                                <div class="form-group m-form__group align-items-center">
                                    <div class="input-group">
                                        <input [(ngModel)]="filterText" name="filterText" autoFocus class="form-control m-input" [placeholder]="l('SearchWithThreeDot')" type="text">
                                        <span class="input-group-btn">
                                            <button (click)="getAssetTypes()" class="btn btn-primary" type="submit"><i class="flaticon-search-1"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
						 <div class="row m--margin-bottom-10" [hidden]="!advancedFiltersAreShown">
						 	<div class="col-md-12">
						         <div class="m-separator m-separator--dashed"></div>
						     </div>


							<div class="col-md-3">
								<div class="form-group">
									<label for="AssetTypeNameFilter">{{l("AssetTypeName")}}</label>
									<input type="text" class="form-control" id="AssetTypeNameFilter" name="assetTypeNameFilter" [(ngModel)]="assetTypeNameFilter">
								</div>
                            </div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="AssetTypeDescFilter">{{l("AssetTypeDesc")}}</label>
									<input type="text" class="form-control" id="AssetTypeDescFilter" name="assetTypeDescFilter" [(ngModel)]="assetTypeDescFilter">
								</div>
                            </div>	
							<div class="col-md-3">
								<label for="PermissionFilterSelect">{{l("Permission")}}</label>
								<select class="form-control" name="PermissionFilter" id="PermissionFilterSelect" [(ngModel)]="permissionFilter">
								<option value="-1">{{l("All")}}</option>
								<option value="0">{{l("False")}}</option>
								<option value="1">{{l("True")}}</option>
								</select>
                            </div>	
							<div class="col-md-3">
								<label for="AttachBranchFilterSelect">{{l("AttachBranch")}}</label>
								<select class="form-control" name="AttachBranchFilter" id="AttachBranchFilterSelect" [(ngModel)]="attachBranchFilter">
								<option value="-1">{{l("All")}}</option>
								<option value="0">{{l("False")}}</option>
								<option value="1">{{l("True")}}</option>
								</select>
                            </div>	
							<div class="col-md-3">
								<label for="AttachApplicationFilterSelect">{{l("AttachApplication")}}</label>
								<select class="form-control" name="AttachApplicationFilter" id="AttachApplicationFilterSelect" [(ngModel)]="attachApplicationFilter">
								<option value="-1">{{l("All")}}</option>
								<option value="0">{{l("False")}}</option>
								<option value="1">{{l("True")}}</option>
								</select>
                            </div>

                        </div>
                        <div class="row margin-bottom-10">
                            <div class="col-sm-12">
                                <span class="clickable-item text-muted" *ngIf="!advancedFiltersAreShown" (click)="advancedFiltersAreShown=!advancedFiltersAreShown"><i class="fa fa-angle-down"></i> {{l("ShowAdvancedFilters")}}</span>
                                <span class="clickable-item text-muted" *ngIf="advancedFiltersAreShown" (click)="advancedFiltersAreShown=!advancedFiltersAreShown"><i class="fa fa-angle-up"></i> {{l("HideAdvancedFilters")}}</span>
                            </div>
                        </div>
                    </div>
                </form>

                <div class="row align-items-center">
                    <!--<Primeng-Datatable-Start>-->
                    <div class="primeng-datatable-container"
                         [busyIf]="primengTableHelper.isLoading">
                        <p-table #dataTable
                                     (onLazyLoad)="getAssetTypes($event)"
                                     [value]="primengTableHelper.records"
                                     rows="{{primengTableHelper.defaultRecordsCountPerPage}}"
                                     [paginator]="false"
                                     [lazy]="true"
                                     [scrollable]="true"
                                     ScrollWidth="100%"
                                     [responsive]="primengTableHelper.isResponsive"
                                     [resizableColumns]="primengTableHelper.resizableColumns">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th style="width: 130px" [hidden]="!isGrantedAny('Pages.AssetTypes.Edit', 'Pages.AssetTypes.Delete')">{{l('Actions')}}</th>
                                    <th style="width: 150px" pSortableColumn="assetType.assetTypeName">
                                        {{l('AssetTypeName')}}
                                        <p-sortIcon field="assetType.assetTypeName"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="assetType.assetTypeDesc">
                                        {{l('AssetTypeDesc')}}
                                        <p-sortIcon field="assetType.assetTypeDesc"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="assetType.permission">
                                        {{l('Permission')}}
                                        <p-sortIcon field="assetType.permission"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="assetType.attachBranch">
                                        {{l('AttachBranch')}}
                                        <p-sortIcon field="assetType.attachBranch"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="assetType.attachApplication">
                                        {{l('AttachApplication')}}
                                        <p-sortIcon field="assetType.attachApplication"></p-sortIcon>
                                    </th>

                                </tr>
                            </ng-template>                           
							<ng-template pTemplate="body" let-record="$implicit">
                                <tr>
                                    <td style="width: 130px"
                                        [hidden]="!isGrantedAny('Pages.AssetTypes.Edit', 'Pages.AssetTypes.Delete')">
                                       <div class="btn-group dropdown" dropdown container="body">
                                            <button class="dropdown-toggle btn btn-sm btn-primary" dropdownToggle>
                                                <i class="fa fa-cog"></i><span class="caret"></span> {{l("Actions")}}
                                            </button>
												<ul class="dropdown-menu"  *dropdownMenu>
												<li>
													<a href="javascript:;"
														(click)="viewAssetTypeModal.show(record)">{{l('View')}}</a>
												</li>
												<li>
													<a href="javascript:;" *ngIf="permission.isGranted('Pages.AssetTypes.Edit')"
														(click)="createOrEditAssetTypeModal.show(record.assetType.id)">{{l('Edit')}}</a>
												</li>
												<li>
											        <a href="javascript:;" *ngIf="permission.isGranted('Pages.AssetTypes.Delete')"
														(click)="deleteAssetType(record.assetType)">{{l('Delete')}}</a>
												</li>
                                            </ul>
                                        </div>
                                    </td>
                                    <td style="width:150px">
											<span class="ui-column-title"> {{l('AssetTypeName')}}</span>
											{{record.assetType.assetTypeName}}
										</td>
                                    <td style="width:150px">
											<span class="ui-column-title"> {{l('AssetTypeDesc')}}</span>
											{{record.assetType.assetTypeDesc}}
										</td>
                                    <td style="width:150px">
										<span class="ui-column-title"> {{l('Permission')}}</span>
                                        <div *ngIf="record.assetType.permission" class="text-center"><i class="fa fa-check-circle m--font-success" title="True"></i></div>
										<div *ngIf="!record.assetType.permission" class="text-center"><i class="fa fa-times-circle" title="False"></i></div>
                                    </td>
                                    <td style="width:150px">
										<span class="ui-column-title"> {{l('AttachBranch')}}</span>
                                        <div *ngIf="record.assetType.attachBranch" class="text-center"><i class="fa fa-check-circle m--font-success" title="True"></i></div>
										<div *ngIf="!record.assetType.attachBranch" class="text-center"><i class="fa fa-times-circle" title="False"></i></div>
                                    </td>
                                    <td style="width:150px">
										<span class="ui-column-title"> {{l('AttachApplication')}}</span>
                                        <div *ngIf="record.assetType.attachApplication" class="text-center"><i class="fa fa-check-circle m--font-success" title="True"></i></div>
										<div *ngIf="!record.assetType.attachApplication" class="text-center"><i class="fa fa-times-circle" title="False"></i></div>
                                    </td>

                                </tr>
                            </ng-template>
                        </p-table>
						<div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                            {{l('NoData')}}
                        </div>
                        <div class="primeng-paging-container">
                            <p-paginator rows="{{primengTableHelper.defaultRecordsCountPerPage}}"
                                         #paginator
                                         (onPageChange)="getAssetTypes($event)"
                                         [totalRecords]="primengTableHelper.totalRecordsCount"
                                         [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                            </p-paginator>
                            <span class="total-records-count">
                                {{l('TotalRecordsCount', primengTableHelper.totalRecordsCount)}}
                            </span>
                        </div>
                    </div>
                    <!--<Primeng-Datatable-End>-->
                </div>
            </div>
        </div>
    </div>

    <createOrEditAssetTypeModal #createOrEditAssetTypeModal (modalSave)="getAssetTypes()"></createOrEditAssetTypeModal>
    <viewAssetTypeModal #viewAssetTypeModal></viewAssetTypeModal>
    
</div>