<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg" style="width:600px !important">
        <div class="modal-content">
            <form *ngIf="active" #assetTypeForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="assetType.id">{{l("EditAssetType")}}</span>
                        <span *ngIf="!assetType.id">{{l("CreateNewAssetType")}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">



                    <div class="form-group">
                        <label for="AssetType_AssetTypeName">Name</label>
                        <input type="text" id="AssetType_AssetTypeName" class="form-control" [(ngModel)]="assetType.assetTypeName" name="AssetTypeName" />
                    </div>

                    <div class="form-group">
                        <label for="AssetType_AssetTypeDesc">Description</label>
                        <textarea type="text" id="AssetType_AssetTypeDesc" class="form-control" [(ngModel)]="assetType.assetTypeDesc" name="AssetTypeDesc"></textarea>
                    </div>



                    <br /><div class="m-checkbox-list">
                        <label for="AssetType_Permission" class="m-checkbox">
                            <input id="AssetType_Permission" type="checkbox" name="Permission" [(ngModel)]="assetType.permission">
                            {{l("Permission")}}
                            <span></span>
                        </label>
                    </div>

                    <br /><div class="m-checkbox-list">
                        <label for="AssetType_AttachBranch" class="m-checkbox">
                            <input id="AssetType_AttachBranch" type="checkbox" name="AttachBranch" [(ngModel)]="assetType.attachBranch">
                            {{l("AttachBranch")}}
                            <span></span>
                        </label>
                    </div>

                    <br /><div class="m-checkbox-list">
                        <label for="AssetType_AttachApplication" class="m-checkbox">
                            <input id="AssetType_AttachApplication" type="checkbox" name="AttachApplication" [(ngModel)]="assetType.attachApplication">
                            {{l("AttachApplication")}}
                            <span></span>
                        </label>
                    </div>

                    <br />
                    <div class="form-group">
                        <label for="AssetType_AssetTypeOtherDetails">Add other asset properties</label>
                        <div class="input-group">
                            <input type="text" id="AssetType_AssetTypeOtherDetails" class="form-control" [(ngModel)]="assetType.assetTypeOtherDetails" name="AssetTypeOtherDetails" />
                            <div class="input-group-prepend">
                                <button class="btn btn-info" type="button" (click)="AddAssetProperty()"><i class="fa fa-save"></i></button>
                            </div>
                        </div>
                    </div>

                    <div class="form-group m-form__group">
                        <div class="table-responsive col-md-12 border">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">Asset Property</th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of asset_Properties">
                                        <td scope="row">{{item}}</td>
                                        <td class="pull-right"><button class="btn btn-danger btn-sm" type="button" (click)="removeAssetProperty(item)"><i class="fa fa-trash"></i></button></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                   </div>

                    </div>
                    <div class="modal-footer">
                        <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">{{l("Cancel")}}</button>
                        <button type="submit" class="btn btn-primary blue" [disabled]="!assetTypeForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i> <span>{{l("Save")}}</span></button>
                    </div>
</form>
        </div>
    </div>

</div>
