<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span>{{l("")}}</span>
                </h4>
                <button type="button" class="close" (click)="close()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="m-stack m-stack--hor m-stack--general m-stack--demo">
                    <div class="m-form__group row">
                        <div class="col-sm-4 col-form-label">{{l("AssetTypeName")}}</div>
                        <div class="col-sm-8 col-form-label">{{item.assetType.assetTypeName}}</div>
                    </div>
                    
                    <div class="m-form__group row">
                        <div class="col-sm-4 col-form-label">{{l("AssetTypeDesc")}}</div>
                        <div class="col-sm-8 col-form-label">{{item.assetType.assetTypeDesc}}</div>
                    </div>
                    
                    <div class="m-form__group row">
                        <div class="col-sm-4 col-form-label">{{l("Permission")}}</div>
                        <div class="col-sm-8 col-form-label">
                            <span *ngIf="item.assetType.permission" class="text-center"><i class="fa fa-check-circle m--font-success" title="True"></i></span>
							<span *ngIf="!item.assetType.permission" class="text-center"><i class="fa fa-times-circle" title="False"></i></span>
                        </div>
                    </div>
                    
                    <div class="m-form__group row">
                        <div class="col-sm-4 col-form-label">{{l("AttachBranch")}}</div>
                        <div class="col-sm-8 col-form-label">
                            <span *ngIf="item.assetType.attachBranch" class="text-center"><i class="fa fa-check-circle m--font-success" title="True"></i></span>
                            <span *ngIf="!item.assetType.attachBranch" class="text-center"><i class="fa fa-times-circle" title="False"></i></span>
                        </div>
                    </div>
                    
                    <div class="m-form__group row">
                        <div class="col-sm-4 col-form-label">{{l("AttachApplication")}}</div>
                        <div class="col-sm-8 col-form-label">
                            <span *ngIf="item.assetType.attachApplication" class="text-center"><i class="fa fa-check-circle m--font-success" title="True"></i></span>
                            <span *ngIf="!item.assetType.attachApplication" class="text-center"><i class="fa fa-times-circle" title="False"></i></span>
                        </div>
                    </div>

                </div>

            </div>
            <div class="modal-footer">
                <button [disabled]="saving" type="button" class="btn btn-primary blue" (click)="close()">{{l("Close")}}</button>
            </div>
        </div>
    </div>

</div>
