<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg" style="width: 700px">
        <div class="modal-content">
            <form *ngIf="active" #jobFunctionForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="jobFunction.id">{{l("EditJobFunction")}}</span>
                        <span *ngIf="!jobFunction.id">{{l("CreateNewJobFunction")}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                 
					<div class="form-group m-form__group">
                        <label for="DepartmentDeptName">{{l("Department")}}</label>
                        <div class="input-group">
                            <input class="form-control" id="DepartmentDeptName" name="departmentDeptName" [(ngModel)]="departmentDeptName" type="text" disabled>     
                            <div class="input-group-append">
                                <button class="btn btn-primary blue" (click)="openSelectDepartmentModal()" type="button"><i class="fa fa-search"></i> {{l("Pick")}}</button>
                            </div> <div class="input-group-prepend">
                                <button class="btn btn-danger" type="button" (click)="setDepartmentIdNull()"><i class="fa fa-close"></i></button>
                            </div>
                        </div>
                    </div>
                    <input class="form-control" name="jobFunction.departmentId" [(ngModel)]="jobFunction.departmentId" type="text"  hidden>

                    <div class="form-group">
                        <label for="JobFunction_JobCode">{{l("JobCode")}}</label>
                        <input type="text" id="JobFunction_JobCode" class="form-control" [(ngModel)]="jobFunction.jobCode" name="JobCode"    />
                    </div>
        
                    <div class="form-group">
                        <label for="JobFunction_JobName">{{l("JobName")}}</label>
                        <input type="text" id="JobFunction_JobName" class="form-control" [(ngModel)]="jobFunction.jobName" name="JobName"    />
                    </div>


                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">{{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!jobFunctionForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i> <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>
<departmentLookupTableModal #departmentLookupTableModal (modalSave)="getNewDepartmentId()"></departmentLookupTableModal>
		 
</div>