<div [@routerTransition]>
    <div class="m-subheader">
        <div class="d-flex align-items-center">
            <div class="mr-auto col-md-6">
                <h3 class="m-subheader__title m-subheader__title--separator">
                    <span>{{l("JobFunctions")}}</span>
                </h3>
                <!-- <span class="m-section__sub">
                    {{l("JobFunctionsHeaderInfo")}}
                </span> -->
            </div>
            <div class="col-md-6 text-right">
				<button (click)="exportToExcel()" class="btn btn-outline-success"><i class="fa fa-file-excel-o"></i> {{l("ExportToExcel")}}</button>
                <button *ngIf="isGranted('Pages.JobFunctions.Create')" (click)="createJobFunction()" 
			class="btn btn-primary blue"><i class="fa fa-plus"></i> {{l("CreateNewJobFunction")}}</button>
            </div>
        </div>
    </div>
    <div class="m-content">
        <div class="m-portlet m-portlet--mobile">
            <div class="m-portlet__body">

				<form class="horizontal-form" autocomplete="off">
                    <div class="m-form m-form--label-align-right">
                        <div class="row align-items-center m--margin-bottom-10">
                            <div class="col-xl-12">
                                <div class="form-group m-form__group align-items-center">
                                    <div class="input-group">
                                        <input [(ngModel)]="filterText" name="filterText" autoFocus class="form-control m-input" [placeholder]="l('SearchWithThreeDot')" type="text">
                                        <span class="input-group-btn">
                                            <button (click)="getJobFunctions()" class="btn btn-primary" type="submit"><i class="flaticon-search-1"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
						 <div class="row m--margin-bottom-10" [hidden]="!advancedFiltersAreShown">
						 	<div class="col-md-12">
						         <div class="m-separator m-separator--dashed"></div>
						     </div>


							<div class="col-md-3">
								<div class="form-group">
									<label for="JobCodeFilter">{{l("JobCode")}}</label>
									<input type="text" class="form-control" id="JobCodeFilter" name="jobCodeFilter" [(ngModel)]="jobCodeFilter">
								</div>
                            </div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="JobNameFilter">{{l("JobName")}}</label>
									<input type="text" class="form-control" id="JobNameFilter" name="jobNameFilter" [(ngModel)]="jobNameFilter">
								</div>
                            </div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="DepartmentDeptNameFilter">({{l("Department")}}) {{l("DeptName")}}</label>
									<input type="text" class="form-control" id="DepartmentDeptNameFilter" name="departmentDeptNameFilter" [(ngModel)]="departmentDeptNameFilter">
                                </div>
                            </div>

                        </div>
                        <div class="row margin-bottom-10">
                            <div class="col-sm-12">
                                <span class="clickable-item text-muted" *ngIf="!advancedFiltersAreShown" (click)="advancedFiltersAreShown=!advancedFiltersAreShown"><i class="fa fa-angle-down"></i> {{l("ShowAdvancedFilters")}}</span>
                                <span class="clickable-item text-muted" *ngIf="advancedFiltersAreShown" (click)="advancedFiltersAreShown=!advancedFiltersAreShown"><i class="fa fa-angle-up"></i> {{l("HideAdvancedFilters")}}</span>
                            </div>
                        </div>
                    </div>
                </form>

                <div class="row align-items-center">
                    <!--<Primeng-Datatable-Start>-->
                    <div class="primeng-datatable-container"
                         [busyIf]="primengTableHelper.isLoading">
                        <p-table #dataTable
                                     (onLazyLoad)="getJobFunctions($event)"
                                     [value]="primengTableHelper.records"
                                     rows="{{primengTableHelper.defaultRecordsCountPerPage}}"
                                     [paginator]="false"
                                     [lazy]="true"
                                     [scrollable]="true"
                                     ScrollWidth="100%"
                                     [responsive]="primengTableHelper.isResponsive"
                                     [resizableColumns]="primengTableHelper.resizableColumns">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th style="width: 130px" [hidden]="!isGrantedAny('Pages.JobFunctions.Edit', 'Pages.JobFunctions.Delete')">{{l('Actions')}}</th>

                                    <th pSortableColumn="departmentDeptName">
                                        {{l('DeptName')}}
                                        <p-sortIcon field="departmentDeptName"></p-sortIcon>
                                    </th>
                                    <th pSortableColumn="jobFunction.jobCode">
                                        {{l('JobCode')}}
                                        <p-sortIcon field="jobFunction.jobCode"></p-sortIcon>
                                    </th>
                                    <th pSortableColumn="jobFunction.jobName">
                                        {{l('JobName')}}
                                        <p-sortIcon field="jobFunction.jobName"></p-sortIcon>
                                    </th>
                                    
                                    <th></th>
                                </tr>
                            </ng-template>                           
							<ng-template pTemplate="body" let-record="$implicit">
                                <tr>
                                    <td style="width: 130px" [hidden]="!isGrantedAny('Pages.JobFunctions.Edit', 'Pages.JobFunctions.Delete')">
                                        <div class="btn-group dropdown" dropdown container="body">
                                            <button class="dropdown-toggle btn btn-sm btn-primary" dropdownToggle>
                                                <i class="fa fa-cog"></i><span class="caret"></span> {{l("Actions")}}
                                            </button>
                                            <ul class="dropdown-menu" *dropdownMenu>
                                                <li>
                                                    <a href="javascript:;"
                                                       (click)="viewJobFunctionModal.show(record.jobFunction.id)">{{l('View')}}</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:;" *ngIf="permission.isGranted('Pages.JobFunctions.Edit')"
                                                       (click)="createOrEditJobFunctionModal.show(record.jobFunction.id)">{{l('Edit')}}</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:;" *ngIf="permission.isGranted('Pages.JobFunctions.Delete')"
                                                       (click)="deleteJobFunction(record.jobFunction)">{{l('Delete')}}</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                    <td>
                                        <span class="ui-column-title"> {{l('DeptName')}}</span>
                                        {{record.departmentDeptName}}
                                    </td>
                                    <td>
                                        <span class="ui-column-title"> {{l('JobCode')}}</span>
                                        {{record.jobFunction.jobCode}}
                                    </td>
                                    <td>
                                        <span class="ui-column-title"> {{l('JobName')}}</span>
                                        {{record.jobFunction.jobName}}
                                    </td>
                                    <td style="text-align: right;"><button class="btn btn-outline-success btn-sm" 
                                        (click)="createJobFunctionAsset(record.jobFunction.id)" type="button"><i class="fa fa-plus"></i>Assets</button></td>
                                </tr>
                            </ng-template>
                        </p-table>
						<div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                            {{l('NoData')}}
                        </div>
                        <div class="primeng-paging-container">
                            <p-paginator rows="{{primengTableHelper.defaultRecordsCountPerPage}}"
                                         #paginator
                                         (onPageChange)="getJobFunctions($event)"
                                         [totalRecords]="primengTableHelper.totalRecordsCount"
                                         [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                            </p-paginator>
                            <span class="total-records-count">
                                {{l('TotalRecordsCount', primengTableHelper.totalRecordsCount)}}
                            </span>
                        </div>
                    </div>
                    <!--<Primeng-Datatable-End>-->
                </div>
            </div>
        </div>
    </div>

    <createOrEditJobFunctionModal #createOrEditJobFunctionModal (modalSave)="getJobFunctions()"></createOrEditJobFunctionModal>
    <viewJobFunctionModal #viewJobFunctionModal></viewJobFunctionModal>
    <createOrEditJobFunctionAssetModal #createOrEditJobFunctionAssetModal (modalSave)="getJobFunctionAssets()"></createOrEditJobFunctionAssetModal>
    
</div>
