<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg" style="width: 700px">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span>{{l("")}}</span>
                </h4>
                <button type="button" class="close" (click)="close()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="m-stack m-stack--hor m-stack--general m-stack--demo">
                    <div class="m-form__group row">
                        <div class="col-sm-4 col-form-label"> Code :</div>
                        <div class="col-sm-8 col-form-label">{{item.jobFunction.jobCode}}</div>
                    </div>

                    <div class="m-form__group row">
                        <div class="col-sm-4 col-form-label">Name :</div>
                        <div class="col-sm-8 col-form-label">{{ item.jobFunction.jobName }}</div>
                    </div>

                    <div class="m-form__group row">
                        <div class="col-sm-4 col-form-label">Department name :</div>
                        <div class="col-sm-8 col-form-label">{{ item.departmentDeptName }}</div>
                    </div>
                    <!-- <div class="m-separator m-separator--dashed"></div> -->
                </div>
                
                <br />
                <hr />
                <br />
                <div>
                    <div class="form-group m-form__group" *ngIf="item.assetForView">
                        <label for="AssetAssetName">List of attached assets</label>
                        <!-- <div class="table-responsive col-md-12 border"></div> -->
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Code </th>
                                    <th colspan="3">Name</th>
                                    <th>Application</th>
                                    <th>Description</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- prettier-ignore -->
                                <tr *ngFor="let a of item.assetForView">
                                    <td>{{ a.asset.assetCode }}</td>
                                    <td colspan="3">{{ a.asset.assetName }}</td>
                                    <td>{{ a.applicationApplicationName }}</td>
                                    <td>{{ a.asset.assetDescription }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="form-group m-form__group" *ngIf="!item.assetForView">
                        No asset attached
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button [disabled]="saving" type="button" class="btn btn-primary blue" (click)="close()">{{l("Close")}}</button>
            </div>
        </div>
    </div>