<div [@routerTransition]>
    <div class="m-subheader">
        <div class="d-flex align-items-center">
            <div class="mr-auto col-md-6">
                <h3 class="m-subheader__title m-subheader__title--separator">
                    <span>{{l("ViewApprovedRequests")}}</span>
                </h3>
                <span class="m-section__sub">
                    {{l("ViewApprovedRequestsHeaderInfo")}}
                </span>
            </div>
        </div>
    </div>
    <div class="m-content">
        <div class="m-portlet m-portlet--mobile">
            <div class="m-portlet__body">

                <form class="horizontal-form" autocomplete="off">
                    <div class="m-form m-form--label-align-right">

                    </div>
                </form>

                <div class="row align-items-center">
                    <!--<Primeng-Datatable-Start>-->
                    <div class="primeng-datatable-container"
                         [busyIf]="primengTableHelper.isLoading">
                        <p-table #dataTable
                                 (onLazyLoad)="getViewApprovedRequests($event)"
                                 [value]="primengTableHelper.records"
                                 rows="{{primengTableHelper.defaultRecordsCountPerPage}}"
                                 [paginator]="false"
                                 [lazy]="true"
                                 [scrollable]="true"
                                 ScrollWidth="100%"
                                 [responsive]="primengTableHelper.isResponsive"
                                 [resizableColumns]="primengTableHelper.resizableColumns">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th style="width: 150px" pSortableColumn="requestTypeRequestCode">
                                        {{l('RequestCode')}}
                                        <p-sortIcon field="requestTypeRequestCode"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="userName">
                                        {{l('Name')}}
                                        <p-sortIcon field="userName"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="request.expiryDate">
                                        {{l('ExpiryDate')}}
                                        <p-sortIcon field="request.expiryDate"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="request.expiryDate">
                                        Request Status
                                        <p-sortIcon field="request.requestStatus"></p-sortIcon>
                                    </th>
                                    <th style="width:150px">
                                        {{l('RequestDescription')}}
                                        <p-sortIcon field="request.requestDescription"></p-sortIcon>
                                    </th>

                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-record="$implicit">
                                <tr>
                                    <td style="width:150px">
                                        <span class="ui-column-title"> {{l('RequestCode')}}</span>
                                        {{record.requestTypeRequestCode}}
                                    </td>
                                    <td style="width:150px">
                                        <span class="ui-column-title"> {{l('Name')}}</span>
                                        {{record.userName}}
                                    </td>
                                    <td style="width:150px">
                                        <span class="ui-column-title"> {{l('ExpiryDate')}}</span>
                                        <span *ngIf="record.request.expiryDate > lastExpiryDate">
                                            {{record.request.expiryDate | momentFormat:'YYYY-MM-DD HH:mm:ss'}}
                                        </span>
                                        <span *ngIf="record.request.expiryDate < lastExpiryDate"> - </span>
                                    </td>

                                    <td style="width:150px">
                                        <span class="ui-column-title"> {{l('RequestDescription')}}</span>
                                        <div *ngIf="record.request.requestStatus == 'P'" class="badge badge-primary"> Pending </div>
                                        <div *ngIf="record.request.requestStatus == 'A'" class="badge badge-success"> Approved </div>
                                        <div *ngIf="record.request.requestStatus == 'R'" class="badge badge-danger"> Rejected </div>
                                    </td>

                                    <td style="width:150px">
                                        <span class="ui-column-title"> {{l('RequestDescription')}}</span>
                                        {{record.request.requestDescription}}
                                    </td>

                                </tr>
                            </ng-template>
                        </p-table>
                        <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                            {{l('NoData')}}
                        </div>
                    </div>
                    <!--<Primeng-Datatable-End>-->
                </div>

            </div>
        </div>
    </div>

    <createOrEditViewApprovedRequestModal #createOrEditViewApprovedRequestModal (modalSave)="getViewApprovedRequests()"></createOrEditViewApprovedRequestModal>
    <viewViewApprovedRequestModal #viewViewApprovedRequestModal></viewViewApprovedRequestModal>
    
</div>
